@charset "UTF-8";


.o-trigger {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 0 auto 0;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  display: inline-block;

  @include respond-to-min (sm) {
    width: 30px;
    height: 30px;
  }

  // @include respond-to-min (lg) {
  //    width: 40px;
  //    height: 40px;
  // }
  
  &__dot {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 4px;
    height: 4px;
    @include border-radius(2px);
    overflow: hidden;
    background: $white;

    @include respond-to-min (sm) {
      top: 12px;
      left: 12px;
      width: 6px;
      height: 6px;
      @include border-radius(3px);
    }

    // @include respond-to-min (lg) {
    //   top: 17px;
    //   left: 17px;
    // }
  }
  &__inner {
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    display: block;
    width: 24px;
    height: 24px;
    font-size: 1.3em;
    font-weight: light;
    font-family: 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 24px;
    letter-spacing: -1px;
    color: white;
    border: none;
    border-radius: 50%;
    background: $aqua;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba($aqua, .5);
    -webkit-animation: pulse 1.5s infinite;

    &:hover {
       -webkit-animation: none;
    }

    @include respond-to-min (sm) {
       line-height: 30px;
       margin-left: -15px;
       margin-top: -15px;
       width: 30px;
       height: 30px;
    }

    // @include respond-to-min (lg) {
    //    line-height: 40px;
    //    margin-left: -20px;
    //    margin-top: -20px;
    //    width: 40px;
    //    height: 40px;
    // }
  }

  &.no-pulse {

    .o-trigger__inner {
      -webkit-animation: 0;
    }
  }
}

@-webkit-keyframes pulse {
  0% {
    webkit-transform: scale(1, 1);
  }
  70% {
    webkit-transform: scale(0.9, 0.9);
    box-shadow: 0 0 0 15px rgba($aqua, 0);

    @include respond-to-min (sm) {
      box-shadow: 0 0 0 25px rgba($aqua, 0);
    }
    // @include respond-to-min (lg) {
    //   box-shadow: 0 0 0 20px rgba($aqua, 0);
    // }
  }
    100% {
    webkit-transform: scale(1, 1);
    box-shadow: 0 0 0 0 rgba($aqua, 0);
  }
}
