@charset "UTF-8";


/* =============================================================================
  CONFIG
============================================================================= */

$module-name: 					'scene-6';



/* =============================================================================
  BASE
============================================================================= */

#m-#{$module-name} {

 	.m-scene__layer {
		
 		&__1 {
 			top: 0;
 			left: 0;
 			width: 44.33%;
 			height: 78.78%;
 			margin-top: 6%;
 			margin-left: 27.83%;

			.m-scene__layer__inner {
				
				.slide-container {
					background: url(../img/scene_5_1.png) no-repeat;
					background-size: cover;
				}
				
			}
 		}

 		&__2 {
 			position: absolute !important;
 			top: 0;
 			left: 0;
			width: 100%;
 			height: 100%;
 			margin-top: 0%;
 			margin-left: 0%;
			
			.m-scene__layer__inner {

				.center-container {
					
					&__l {
						background: url(../img/scene_5_2.png) no-repeat;
						background-size: cover;
						width: 21%;
						height: 30.33%;
						top: -10%;
						left: 41.67%; 
					}
					
				}
			}
 		}

 		&__3 {
 			position: absolute !important;
 			top: 0;
 			left: 0;
			width: 100%;
 			height: 100%;
 			margin-top: 0%;
 			margin-left: 0%;
			
			.m-scene__layer__inner {

				.center-container {
					
					&__r {
						background: url(../img/scene_5_3.png) no-repeat;
						background-size: cover;
						width: 31.25%;
						height: 42.44%;
						top: 48.89%;
						left: 57.5%; 
					}
					
				}
			}
 		}

 		&__4 {
 			position: absolute !important;
 			top: auto !important;
 			bottom: 0;
 			left: 0% !important;
			width: 100%;
 			height: 100%;

			.m-scene__layer__inner {
				
				.flip-container__inner {
					background: url(../img/scene_5_4.png) no-repeat;
					background-size: cover;
				}
			}
 		}

	}
	
	// Modals
	#modal_6_1 {
		position: absolute;
		top: 45%;
		left: 45%;
	}

	#modal_6_2 {
		position: absolute;
		top: 75%;
		left: 70%;
	}

	#modal_6_3 {
		position: absolute;
		top: 65%;
		left: 25%;
	}

	#modal_6_4 {
		position: absolute;
		top: 25%;
		left: 20%;
	}

	#modal_6_5 {
		position: absolute;
		top: 35%;
		left: 75%;
	}

	#modal_6_6 {
		position: absolute;
		top: 80%;
		left: 45%;
	}

}