@charset "UTF-8";


/* =============================================================================
  CONFIG
============================================================================= */

$module-name: 					'scenes';



/* =============================================================================
  BASE
============================================================================= */

#m-#{$module-name} {
	
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;

	.m-scene {	
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		display: none;

		&.is--active {
			display: block;
		}

		&__wrapper {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;

		}

		&__inner {
			margin: 0px auto;
			width: 400px;
			height: 300px;
			position: absolute;
			top: 50%;
			margin-top: -150px;
			left: 50%;
			margin-left: -200px;

			@include respond-to-min (xs) { 
				width: 480px;
				height: 360px;
				margin-left: -240px;
				margin-top: -180px;
			}

			@include respond-to-min (xs-xs-sm) { 
				width: 540px;
				height: 405px;
				margin-left: -270px;
				margin-top: -202px;
			}

			@include respond-to-min (xs-sm) { 
				width: 600px;
				height: 450px;
				margin-left: -300px;
				margin-top: -225px;
			}

			@include respond-to-min (sm) { 
				width: 800px;
				height: 600px;
				margin-left: -400px;
				margin-top: -300px;
			}

			@include respond-to-min (md) { 
				width: 1000px;
				height: 750px;
				margin-left: -500px;
				margin-top: -375px;
			}

			@include respond-to-min (lg) { 
				width: 1200px;
				height: 900px;
				margin-left: -600px;
				margin-top: -450px;
			}
			
		}
		
		&__layer {
			position: absolute;

			&__1  {
				z-index: 0;

				.cables {
					position: absolute;
					top: 3.9%;
					left: 0;
					right: 0;
					height: 1000px;
					margin-top: -1000px;
					
					.cable-left {
						position: absolute;
						top: 0;
						left: 7%;
						height: 100%;
						width: 2px;
						margin-left: -1px;
						background: $blue-light; 
					}

					.cable-right {
						position: absolute;
						top: 0;
						left: 93%;
						height: 100%;
						width: 2px;
						margin-left: -1px;
						background: $blue-light; 
					}
				}
			}

			&__2  {
				z-index: 2;
			}

			&__3  {
				z-index: 3;
				// position: relative;
			}

			&__4  {
				z-index: 4;
			}

			&__5  {
				z-index: 5;
			}

			&__6  {
				z-index: 6;
			}

			&__inner {
				width: 100%;
			 	height: 100%;
			}

			&__triggers {
				z-index: 30;
				position: absolute;
				width: 100%;
			    height: 100%;
			    top: 0;
			    left: 0;
			    pointer-events: auto;

			    .m-text-modal__trigger {
			    	
			    }
			}

			&__bubbles {
				z-index: 20;
				position: absolute;
				width: 100%;
			    height: 100%;
			    overflow: hidden;
			}

			&__content {
				position: absolute;
				width: 100%;
			    height: 100%;
			    top: 0;
			    left: 0;

				.m-scene__content {
					position: relative;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 100%;
					max-width: 100vw;
					max-height: 100vh;
					margin: 0 auto;
					padding: 0 55px;


					&__inner {
						position: relative;
						width: 100%;
						height: 100%;
					}

					hr {
						border-top: 1px solid $grayD;
					}
				}
			}
		}

		&.m-scene--full {
			
			.m-scene__inner {
				width: 100% !important;
				height: 100% !important;
				top: 0 !important;
				margin: 0 !important;
				left: 0 !important;
				position: relative;

				.m-scene__content {
					width: 100%;
					height: 100%;
					padding: 30px 50px !important;

					@include respond-to-min (sm) {
						padding: 40px 75px !important;
					}

					@include respond-to-min (md) {
						padding: 50px 100px !important;
					}
				}

				.m-bubbles__container {
					padding: 0 !important;
				}

			}
		}
	}
}

.safari #m-scenes .m-scene__layer {
	transform-style: flat !important;
}

.ie9 {
	.center-container__l, .center-container__r {
		opacity: 1 !important;
		filter: alpha(opacity=100);
	}
}


