@charset "UTF-8";


/* =============================================================================
  CONFIG
============================================================================= */

$module-name: 					'scene-7';



/* =============================================================================
  BASE
============================================================================= */

#m-#{$module-name} {
	

}

.m-scene--final {
	
 	&__content-bottom {
		position: absolute;
		bottom: 30px;
		left: 0;
		width: 100%;
		padding-top: 0px;

		@include respond-to-min (sm) { 
			padding-top: 20px;
		}

		@include respond-to-min (md) { 
			padding-top: 40px;
		}

		@include respond-to-max (sm) { 
			
			h2 {
				margin-top: 15px;
				margin-bottom: 10px;
			}

			p {
				margin: 0.5em 0;
			}
		}

		.m-social-media__button {
			float: none;
			display: inline-block;
			position: relative;
			top: 5px;
		}



		&.for-height {
			top: -5000px !important;
			left: -5000px !important;
			bottom: auto !important;

			padding-left: 50px;
			padding-right: 50px;

			@include respond-to-min (sm) { 
				padding-left: 75px;
				padding-right: 75px;
			}

			@include respond-to-min (md) { 
				padding-left: 100px;
				padding-right: 100px;
			}
		}
	}

	&__bubbles {
		position: absolute;
	    height: 50%;
	    left: 0;
	    right: 0;
	    top: 0;
	    max-width: 600px;
    	margin: 0 auto;

	    .m-bubbles__item {
			max-width: none;

	    	@include respond-to-min (sm) {
				max-width: 80%;
	    	}
	    }
	}

	.fb-share-button {
		display: inline-block;
	}
}