@charset "UTF-8";


/* =============================================================================
  CONFIG
============================================================================= */

$module-name: 					'scene-3';



/* =============================================================================
  BASE
============================================================================= */

#m-#{$module-name} {

 	.m-scene__layer {
		
 		&__1 {
 			top: 0;
 			left: 0;
 			width: 44.33%;
 			height: 78.78%;
 			margin-top: 6%;
 			margin-left: 27.83%;

			.m-scene__layer__inner {
				
				.slide-container {
					background: url(../img/scene_4_1.png) no-repeat;
					background-size: cover;
				}
				
			}
 		}

 		&__2 {
 			position: absolute !important;
 			top: 0;
 			left: 0;
			width: 100%;
 			height: 100%;
 			margin-top: 0%;
 			margin-left: 0%;
			
			.m-scene__layer__inner {

				.center-container {
					
					&__l {
						background: url(../img/scene_4_2.png) no-repeat;
						background-size: cover;
						width: 29.83%;
						height: 33.44%;
						top: 54.67%;
						left: 12.5%; 
					}
				}
			}
 		}

 		&__3 {
 			position: absolute !important;
 			top: 0;
 			left: 0;
			width: 100%;
 			height: 100%;
 			margin-top: 0%;
 			margin-left: 0%;
			
			.m-scene__layer__inner {

				.center-container {
					
					&__r {
						background: url(../img/scene_4_3.png) no-repeat;
						background-size: cover;
						width: 20.75%;
						height: 46.78%;
						top: 46.67%;
						left: 8.5%; 
					}
				}
			}
 		}

 		&__4 {
 			position: absolute !important;
 			top: auto !important;
 			bottom: 0;
 		// 	left: 34.33% !important;
			// width: 59%;
 		// 	height: 55.89%;
 			left: 0% !important;
			width: 100%;
 			height: 100%;
 			//margin-top: 25.67%;
 			//margin-left: 55.92%;

			.m-scene__layer__inner {
				
				.flip-container__inner {
					background: url(../img/scene_4_4.png) no-repeat;
					background-size: cover;
				}
			}
 		}
	}
	
	// Modals
	#modal_3_1 {
		position: absolute;
		top: 68%;
		left: 70%;
	}
	#modal_3_2 {
		position: absolute;
		top: 48%;
		left: 25%;
	}
	#modal_3_3 {
		position: absolute;
		top: 28%;
		left: 55%;
	}

	@include respond-to-max (sm) {
		.m-scene__layer__3 .m-scene__layer__inner {
			
			.center-container__l {
				left: 14%
			}

			.center-container__r {
				left: 11%;
			}
		}
	}

}
