@charset "UTF-8";


/* =============================================================================
  CONFIG
============================================================================= */

$module-name: 					'scene-2';



/* =============================================================================
  BASE
============================================================================= */

#m-#{$module-name} {

 	.m-scene__layer {
		
 		&__1 {
 			top: 0;
 			left: 0;
 			width: 44.33%;
 			height: 78.78%;
 			margin-top: 6%;
 			margin-left: 27.83%;

			.m-scene__layer__inner {
				
				.slide-container {
					background: url(../img/scene_2_1.png) no-repeat;
					background-size: cover;
				}
			}
 		}

 		&__2 {
 			position: absolute !important;
 			top: 0;
 			left: 0;
			width: 100%;
 			height: 100%;
 			margin-top: 0%;
 			margin-left: 0%;
			
			.m-scene__layer__inner {

				.center-container {
					
					&__l {
						background: url(../img/scene_2_2.png) no-repeat;
						background-size: cover;
						width: 85.58%;
						height: 28.67%;
						top: 2.44%;
						left: 2.58%; 
					}
				}
			}
 		}

 		&__3 {
 			position: absolute !important;
 			top: 0;
 			left: 0;
			width: 100%;
 			height: 100%;
 			margin-top: 0%;
 			margin-left: 0%;
			
			.m-scene__layer__inner {

				.center-container {
					
					&__r {
						background: url(../img/scene_2_3.png) no-repeat;
						background-size: cover;
						width: 17.67%;
						height: 24.78%;
						top: 66%;
						left: 21%; 
					}
				}
			}
 		}

 		&__4 {
 			position: absolute !important;
 			top: auto !important;
 			bottom: 0;
 		// 	left: 60.08% !important;
			// width: 35.42%;
 		// 	height: 73.22%;
 		    left: 0% !important;
			width: 100%;
 			height: 100%;
 			//margin-top: 26.78%;
 			//margin-left: 60.08%;
			
			.m-scene__layer__inner {
				
				.flip-container__inner {
					background: url(../img/scene_2_4.png) no-repeat;
					background-size: cover;
				}
			}
 		}

 		&__4 {

 		}
	}
	
	// Modals
	#modal_2_1 {
		position: absolute;
		top: 80%;
		left: 33%;
	}
	#modal_2_2 {
		position: absolute;
		top: 50%;
		left: 66%;
	}

	#modal_2_3 {
		position: absolute;
		top: 28%;
		left: 36%;
	}

	#modal_2_4 {
		position: absolute;
		top: 20%;
		left: 20%;
	}

	#modal_2_5 {
		position: absolute;
		top: 48%;
		left: 18%;
	}

	#modal_2_6 {
		position: absolute;
		top: 16%;
		left: 75%;
	}

	#modal_2_7 {
		position: absolute;
		top: 70%;
		left: 50%;
	}

	#modal_2_8 {
		position: absolute;
		top: 85%;
		left: 70%;
	}

	@include respond-to-max (sm) {

		.m-scene__layer__4 .m-scene__layer__inner {
			left: -10%;
		}
	}
}

