@charset "UTF-8";

// Flip animation

.cssanimations .flip-container__inner {
  // filter: alpha(opacity=100);
  // opacity: 1;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
  -ms-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
  transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
  // -webkit-transform: perspective(1000px) rotateX(90deg);
  // -ms-transform: perspective(1000px) rotateX(90deg);
  // transform: perspective(1000px) rotateX(90deg);
  // -webkit-animation-timing-function: easeOutBack;
  // animation-timing-function: easeOutBack;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  position: relative;
  transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  // -webkit-transform-style: preserve-3d; Chrome, Safari, Opera
  // transform-style: preserve-3d;  

  &.animated {
    // -webkit-animation-name: flipInX;
    // animation-name: flipInX;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
    -ms-transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
    transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
  //   -webkit-transform: perspective(1000px) rotateX(0deg);
  // -ms-transform: perspective(1000px) rotateX(0deg);
  // transform: perspective(1000px) rotateX(0deg);
  //transform-style: preserve-3d;
  }
}

.flip-container {
  width: 100%;
  height: 100%;
  transform: none;

  &__inner {
    width: 100%;
    height: 100%;
    -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  -ms-animation-duration:1s;
  -o-animation-duration:1s;
  animation-duration:1s;
  }
}

// Slide animation
.csstransforms .slide-container {
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transform: translateZ(-100px);
}

.ie9 .slide-container {
  filter: alpha(opacity=100) !important;
  opacity: 1 !important;
}

.slide-container {
	width: 100%;
	height: 100%;
	-webkit-animation-duration:1.2s;
  -moz-animation-duration:1.2s;
  -ms-animation-duration:1.2s;
  -o-animation-duration:1.2s;
  animation-duration:1.2s;
	-webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


// Center animation

.center-container {
  position: relative;
  width: 100%;
  height: 100%;

  &__l {
    width: 50%;
    position: absolute;
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    -ms-animation-duration:1s;
    -o-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  &__r {
    width: 50%;
    position: absolute;
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    -ms-animation-duration:1s;
    -o-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
}

.csstransforms .center-container {
  
  &__l {
    filter: alpha(opacity=0);
    opacity: 0;
  }

  &__r {
    filter: alpha(opacity=0);
    opacity: 0;
  }

  &.animated {

    .center-container__l {
      -webkit-animation-name: bounceInLeft;
      animation-name: bounceInLeft;
    }

    .center-container__r {
      -webkit-animation-name: bounceInRight;
      animation-name: bounceInRight;
    }

  }

}


// Triggers animation
.m-scene__layer__triggers .m-text-modal__trigger {
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-animation-duration:0.5s;
  -moz-animation-duration:0.5s;
  -ms-animation-duration:0.5s;
  -o-animation-duration:0.5s;
  animation-duration:0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  filter: alpha(opacity=0);
  opacity: 0;

  &.animated {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
}


// FADEOUT LEFT BIG
@keyframes fadeOutLeftBig {
  from {
    filter: alpha(opacity=100);
    opacity: 1;
  }

  to {
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    -ms-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);

  }
}

.fadeOutLeftBig {
  -webkit-animation-name: fadeOutLeftBig;
  animation-name: fadeOutLeftBig;
}

// FADEOUT RIGHT BIG
@keyframes fadeOutRightBig {
  from {
    filter: alpha(opacity=100);
    opacity: 1;
  }

  to {
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    -ms-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
}

.fadeOutRightBig {
  -webkit-animation-name: fadeOutRightBig;
  animation-name: fadeOutRightBig;
}

// FADEIN LEFT BIG
@keyframes fadeInLeftBig {
  from {
    filter: alpha(opacity= 0);
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    -ms-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}


// FADEIN RIGHT BIG
@keyframes fadeInRightBig {
  from {
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    -ms-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  to {
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
}

// BOUNCE IN IN LEFT
@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0) skewX(0deg);
    -ms-transform: translate3d(-3000px, 0, 0) skewX(0deg);
    transform: translate3d(-3000px, 0, 0) skewX(0deg);
  }

  70% {
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translate3d(15px, 0, 0) skewX(-1deg);
    -ms-transform: translate3d(15px, 0, 0) skewX(-1deg);
    transform: translate3d(15px, 0, 0) skewX(-1deg);
  }

  80% {
    -webkit-transform: translate3d(0, 0, 0) skewX(0.5deg);
    -ms-transform: translate3d(0, 0, 0) skewX(0.5deg);
    transform: translate3d(0, 0, 0) skewX(0.5deg);
  }

  90% {
    -webkit-transform: translate3d(0, 0, 0) skewX(-0.25deg);
    -ms-transform: translate3d(0, 0, 0) skewX(-0.25deg);
    transform: translate3d(0, 0, 0) skewX(-0.25deg);
  }

  to {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    filter: alpha(opacity=100);
    opacity: 1;
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

// BOUNCE IN IN RIGHT
@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0) skewX(0deg);
    -ms-transform: translate3d(3000px, 0, 0) skewX(0deg);
    transform: translate3d(3000px, 0, 0) skewX(0deg);
  }

  70% {
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translate3d(-15px, 0, 0) skewX(1deg);
    -ms-transform: translate3d(-15px, 0, 0) skewX(1deg);
    transform: translate3d(-15px, 0, 0) skewX(1deg);
  }

  80% {
    -webkit-transform: translate3d(0, 0, 0) skewX(-0.5deg);
    -ms-transform: translate3d(0, 0, 0) skewX(-0.5deg);
    transform: translate3d(0, 0, 0) skewX(-0.5deg);
  }

  90% {
    -webkit-transform: translate3d(0, 0, 0) skewX(0.25deg);
    -ms-transform: translate3d(0, 0, 0) skewX(0.25deg);
    transform: translate3d(0, 0, 0) skewX(0.25deg);
  }

  to {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    filter: alpha(opacity=100);
    opacity: 1;
  }
}

.csstransforms .bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}


// FLIP IN X
@keyframes flipInX {
  from {
    // -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 45deg);
    // -ms-transform: perspective(1000px) rotate3d(1, 0, 0, 45deg);
    // transform: perspective(1000px) rotate3d(1, 0, 0, 45deg);

  -webkit-transform: perspective(1000px) rotateX(90deg);
  -ms-transform: perspective(1000px) rotateX(90deg);
  transform: perspective(1000px) rotateX(90deg);

    -webkit-animation-timing-function: easeOutBack;
    animation-timing-function: easeOutBack;
    filter: alpha(opacity=100);
    opacity: 1;
  }

  to {
    // -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
    // -ms-transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
    // transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);

      -webkit-transform: perspective(1000px) rotateX(0deg);
  -ms-transform: perspective(1000px) rotateX(0deg);
  transform: perspective(1000px) rotateX(0deg);

    filter: alpha(opacity=100);
    opacity: 1;
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

// FADE IN DOWN
@keyframes fadeIn {
  from {
    filter: alpha(opacity=0);
    opacity: 0;
    //transform: scale(0);
  }

  to {
    filter: alpha(opacity=100);
    opacity: 1;
    //transform: scale(1);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.ie9 {
  .m-scene__layer__triggers .m-text-modal__trigger {
    filter: alpha(opacity=100) !important;
    opacity: 1 !important;
  }
}