@charset "UTF-8";


/* =============================================================================
  CONFIG
============================================================================= */

$module-name: 					'scene-4';



/* =============================================================================
  BASE
============================================================================= */
#m-#{$module-name} {

 	.m-scene__layer {
		
		// Background
 		&__1 {
 			top: 0;
 			left: 0;
 			width: 44.33%;
 			height: 78.78%;
 			margin-top: 6%;
 			margin-left: 27.83%;

			.m-scene__layer__inner {
				
				.slide-container {
					background: url(../img/scene_1_1.png) no-repeat;
					background-size: cover;
				}
			}
 		}
	
		// Center
 		&__2 {
 			top: 0;
 			left: 0;
			width: 100%;
 			height: 100%;
			
			.m-scene__layer__inner {

				.center-container {
					
					&__l {
						background: url(../img/scene_1_2.png) no-repeat;
						background-size: cover;
						width: 17%;
						height: 25.44%;
						top: 64.67%;
						left: 5.33%; 
					}

				}
			}
 		}

 		// Center
 		&__3 {
 			top: 0;
 			left: 0;
			width: 100%;
 			height: 100%;
			
			.m-scene__layer__inner {

				.center-container {
					
					&__r {
						background: url(../img/scene_1_3.png) no-repeat;
						background-size: cover;
						width: 16.17%;
						height: 24.22%;
						top: 61.11%;
						left: 79.25%; 
					}
				}
			}
 		}

		// Front
 		&__4 {
 			position: absolute !important;
 			top: auto !important;
 			bottom: 0;
 			left: 0% !important;
			width: 100%;
 			height: 100%;

			.m-scene__layer__inner {
				
				.flip-container__inner {
					background: url(../img/scene_1_4.png) no-repeat;
					background-size: cover;
				}
			}
 		}

 		&__5 {
 			position: absolute !important;
 			top: auto !important;
 			bottom: 0;
 			left: 0% !important;
			width: 100%;
 			height: 100%;

			.m-scene__layer__inner {
				
				.flip-container__inner {
					background: url(../img/scene_1_5.png) no-repeat;
					background-size: cover;
				}
			}
 		}
	}
	
	// Modals
	#modal_4_1 {
		position: absolute;
		top: 80%;
		left: 25%;
	}

	#modal_4_2 {
		position: absolute;
		top: 40%;
		left: 65%;
	}

	#modal_4_3 {
		position: absolute;
		top: 30%;
		left: 45%;
	}

	#modal_4_4 {
		position: absolute;
		top: 70%;
		left: 75%;
	}

	#modal_4_5 {
		position: absolute;
		top: 60%;
		left: 30%;
	}

	#modal_4_6 {
		position: absolute;
		top: 20%;
		left: 20%;
	}




	@include respond-to-max (sm) {
		.m-scene__layer__2 .m-scene__layer__inner {
			
			.center-container__l {
				left: 15%;
				top: 64%;
			}

			.center-container__r {
				left: 75%;
				top: 67%;
			}
		}
	}

}



