@charset "UTF-8";


/* =============================================================================
  CONFIG
============================================================================= */

$module-name: 					'scene-5';



/* =============================================================================
  BASE
============================================================================= */
#m-#{$module-name} {

 	.m-scene__layer {
		
 		&__1 {
 			top: 0;
 			left: 0;
 			width: 44.33%;
 			height: 78.78%;
 			margin-top: 6%;
 			margin-left: 27.83%;

			.m-scene__layer__inner {
				
				.slide-container {
					background: url(../img/scene_3_1.png) no-repeat;
					background-size: cover;
				}
				
			}
 		}

 		&__2 {
 			
 			top: 0;
 			left: 0;
			width: 100%;
 			height: 100%;
 			// margin-top: 50%;
 			// margin-left: 7.67%;
			
			.m-scene__layer__inner {

				.center-container {
					
					&__l {
						background: url(../img/scene_3_2.png) no-repeat;
						background-size: cover;
						width: 26.25%;
						height: 32.44%;
						top: -16.11%;
						left: 38.5%; 
					}

					// &__r {
					// 	background: url(../img/scene_1_2_r.png) no-repeat;
					// 	background-size: cover;
					// 	width: 16.17%;
					// 	height: 24.22%;
					// 	top: 61.11%;
					// 	left: 79.25%; 
					// }
				}
			}
 		}

 		&__3 {
 			position: absolute !important;
 			top: auto !important;
 			bottom: 0;
 		// 	left: 55.92% !important;
			// width: 29.5%;
 		// 	height: 74.33%;
 			left: 0% !important;
			width: 100%;
 			height: 100%;
 			//margin-top: 25.67%;
 			//margin-left: 55.92%;

			.m-scene__layer__inner {
				
				.flip-container__inner {
					background: url(../img/scene_3_3.png) no-repeat;
					background-size: cover;
				}
			}
 		}

 		&__4 {

 		}

	}
	
	// Modals
	#modal_5_1 {
		position: absolute;
		top: 50%;
		left: 67%;
	}

	#modal_5_2 {
		position: absolute;
		top: 38%;
		left: 23%;
	}

	#modal_5_3 {
		position: absolute;
		top: 75%;
		left: 40%;
	}

	#modal_5_4 {
		position: absolute;
		top: 22%;
		left: 55%;
	}

	#modal_5_5 {
		position: absolute;
		top: 68%;
		left: 78%;
	}

}