@charset "UTF-8";


/* =============================================================================
  CONFIG
============================================================================= */

$module-name: 					'scene-1';



/* =============================================================================
  BASE
============================================================================= */

#m-#{$module-name} {
	
	.m-scene--intro {

		&__content-bottom {
			position: absolute;
			bottom: 30px;
			left: 0;
			width: 100%;
		}
	}
	
	.m-bubbles {
		max-width: 800px;
	}
	
	.m-bubbles__item {
		max-width: none;

    	@include respond-to-min (sm) {
			max-width: 80%;
    	}
    }

	#m-scene--intro__name {
		text-transform: capitalize;
	}
 	
}