@charset "UTF-8";


/* =============================================================================
  CONFIG
============================================================================= */

$module-name: 					'parallax';



/* =============================================================================
  BASE
============================================================================= */

#m-#{$module-name} {
	
  .scene {
    margin: 0;
    padding: 0; 
  }

}