@charset "UTF-8";

/* =============================================================================
  CONFIG
============================================================================= */

$body-bg: 				$white;
$wrapper-bg:			$white;
$content-bg:			$white;
$sidebar-bg:			none;
$footer-bg: 			$gray3;

$header-bg:				$gray9;
$header-height:			60px;


/* =============================================================================
  BASE
============================================================================= */

body {
	background: $body-bg;
}

#l-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	padding-bottom: 40px;
	
	@include respond-to-min (sm) {
		padding-bottom: 60px;
	}

	#l-background {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 50%;
		background: #efefef;
	}

	.o-logo {
		z-index: 10;
	}
	
	#o-btn-prev {
		position: absolute;
		top: 50%;
		left: 10px;
		margin-top: -15px;
		opacity: 0;
		z-index: 10;

		@include respond-to-min (sm) {
			margin-top: -22px;
			left: 15px;
		}

		@include respond-to-min (md) {
			margin-top: -30px;
		}
	}

	#o-btn-next {
		position: absolute;
		top: 50%;
		right: 10px;
		margin-top: -15px;
		z-index: 10;

		@include respond-to-min (sm) {
			margin-top: -22px;
			right: 15px;
		}

		@include respond-to-min (md) {
			margin-top: -30px;
		}
	}
}

#l-overlay-elements {
	width: 100%;
	height: 100%;
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;

	a {
		pointer-events: auto;
	}
}
#l-bottom {
	background: $gray4;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 60px;

	&.is--active {
		height: 120px;
	}
}

#l-footer {
	position: absolute;
	z-index: 999;
	bottom: 0;
	left: 0;
	right: 0;
	@include clearfix();
}
