@charset "UTF-8";

/* =============================================================================
  CONFIG
============================================================================= */



/* =============================================================================
  BASE
============================================================================= */

$succes-green: 			#4cae4c;
$error-red:				#d9534f;
$warning-orange:		#f0ad4e;

$blue:					#4c8bc1;
