@charset "UTF-8";

/* =============================================================================
CONFIG
============================================================================= */

$item--padding:		0 0.9375em;	// Padding inside grid__item


/* =============================================================================
BASE
============================================================================= */

.l-flex {
	display: flex !important;
	
	&__justify {
		
		&--start {
			justify-content: flex-start !important;
		}
		
		&--end {
			justify-content: flex-end !important;
		}
		
		&--center {
			justify-content: center !important;
		}
		
		&--between {
			justify-content: space-between !important;
		}
		
		&--around {
			justify-content: space-around !important;
		}
	}
	
	&__item {
		padding: $item--padding;
	}
}