@charset "UTF-8";

// https://zellwk.com/blog/responsive-grid-system

/* =============================================================================
	CONFIG
============================================================================= */

$container-width: 		75em;	// Base size * $container-width



/* =============================================================================
	COLUMNS DEFAULT GRID
============================================================================= */

@each $key, $value in $breakpoints-min {

	@include respond-to-min($key) {

		.col-#{$key}-1 {
			width: 8.33333333%;
		}

		.col-#{$key}-2 {
			width: 16.66666667%;
		}

		.col-#{$key}-3 {
			width: 25%;
		}

		.col-#{$key}-4 {
			width: 33.33333333%;
		}

		.col-#{$key}-5 {
			width: 41.66666667%;
		}

		.col-#{$key}-6 {
			width: 50%;
		}

		.col-#{$key}-7 {
			width: 58.33333333%;
		}

		.col-#{$key}-8 {
			width: 66.66666667%;
		}

		.col-#{$key}-9 {
			width: 75%;
		}

		.col-#{$key}-10 {
			width: 83.33333333%;
		}

		.col-#{$key}-11 {
			width: 91.66666667%;
		}

		.col-#{$key}-12 {
			width: 100%;
		}
	}

	.col-#{$key}-12 {
		width: 100%;
	}
}


/* =============================================================================
	COLUMNS FLEXBOX GRID
============================================================================= */

@each $key, $value in $breakpoints-min {

	@include respond-to-min($key) {

		.fl-col-#{$key}-1 {
			flex-basis: 8.33333333%;
			max-width: 8.33333333%;
		}

		.fl-col-#{$key}-2 {
			flex-basis: 16.66666667%;
			max-width: 16.66666667%;
		}

		.fl-col-#{$key}-3 {
			flex-basis: 25%;
			max-width: 25%;
		}

		.fl-col-#{$key}-4 {
			flex-basis: 33.33333333%;
			max-width: 33.33333333%;
		}

		.fl-col-#{$key}-5 {
			flex-basis: 41.66666667%;
			max-width: 41.66666667%;
		}

		.fl-col-#{$key}-6 {
			flex-basis: 505;
			max-width: 50%;
		}

		.fl-col-#{$key}-7 {
			flex-basis: 58.33333333%;
			max-width: 58.33333333%;
		}

		.fl-col-#{$key}-8 {
			flex-basis: 66.66666667%;
			max-width: 66.66666667%;
		}

		.fl-col-#{$key}-9 {
			flex-basis: 75%;
			max-width: 75%;
		}

		.fl-col-#{$key}-10 {
			flex-basis: 83.33333333%;
			max-width: 83.33333333%;
		}

		.fl-col-#{$key}-11 {
			flex-basis: 91.66666667%;
			max-width: 91.66666667%;
		}

		.fl-col-#{$key}-12 {
			flex-basis: 100%;
			max-width: 100%;
		}
	}
}


/* =============================================================================
	RESPONSIVE UTILITIES
============================================================================= */

@each $key, $value in $breakpoints-min {

	@include respond-to-min($key) {

		.hidden-min-#{$key} {
			display: none;
		}
	}
}


@each $key, $value in $breakpoints-max {

	@include respond-to-max($key) {

		.hidden-max-#{$key} {
			display: none;
		}
	}
}

/* =============================================================================
	Containers
============================================================================= */

.l-container {
	max-width: $container-width;
	width: 100%;
	margin: 0 auto;
	display: table;
	padding-left: 15px;
	padding-right: 15px;

	&:before {
		display: table;
		content: " ";
	}

	&:after {
		display: table;
		content: " ";
		clear: both;
	}

	@include respond-to-min (sm) {
		padding-left: 30px;
		padding-right: 30px;
	}
}

.l-container--fluid {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;

	&:before {
		display: table;
		content: " ";
	}

	&:after {
		display: table;
		content: " ";
		clear: both;
	}

	@include respond-to-min (sm) {
		padding-left: 30px;
		padding-right: 30px;
	}
}


/* =============================================================================
	GRID
============================================================================= */

.l-row {
	margin-left: -15px;
	margin-right: -15px;

	&:before {
		display: table;
		content: " ";
	}

	&:after {
		display: table;
		content: " ";
		clear: both;
	}

	// @include respond-to-min (sm) {
	// 	margin-left: -30px;
	// 	margin-right: -30px;
	// }
}

[class*='col-'] {
	float: left;
	min-height: 1px;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;

	// @include respond-to-min (sm) {
	// 	padding-left: 30px;
	// 	padding-right: 30px;
	// }
}
