@charset "UTF-8";


/* =============================================================================
  CONFIG
============================================================================= */

$module-name: 					'social-media';



/* =============================================================================
  BASE
============================================================================= */

.m-#{$module-name} {
	
	&__button {
		height: 24px;
		width: 24px;
		background: $blue-dark;
		color: $white;
		overflow: hidden;
		display: block;
		float: left;
		text-align: center;
		line-height: 24px;
		margin-left: 5px;
		@include border-radius(12px);
		text-decoration: none !important;
		@include rem(16);
		
		&:hover, &:active, &:focus {
			background: darken($blue-dark , 10%);
			color: $white;
		}
	}
}