<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"> 
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Online jaarverslag - Scene 1</title>
	
	<link type="text/css" rel="stylesheet" href="./public/library/css/main.css" />

	<script type="text/javascript" src="./public/library/js/vendors/modernizr-custom.js"></script>
	<script type="text/javascript" src="./public/library/js/vendors/detectizr.min.js"></script>
	<script type="text/javascript" src="./public/library/js/vendors/jquery-3.1.1.min.js"></script>
	<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
	<script type="text/javascript" src="./public/library/js/vendors/jquery.easing.1.3.js"></script>
	
	<!--[if lt IE 9]>
		{{ javascript_include("./public/library/js/vendor/html5shiv.js") }}
		{{ javascript_include("./public/library/js/vendor/respond.min.js") }}
	<![endif]-->

    </head>
    <body>
		
		<!-- START Wrapper -->
		<div id="l-wrapper">
			
			<div id="l-background"></div>

			<!-- Logo -->
			<div class="o-logo">
				
			</div>

			<!-- Controls -->
			<a href="#" id="o-btn-prev" class="o-btn o-btn--circle xxl o-btn--orange">
				<i class="fa fa-angle-left"></i>
			</a>

			<a href="#" id="o-btn-next" class="o-btn o-btn--circle xxl o-btn--orange">
				<i class="fa fa-angle-right"></i>
			</a>
			
			<div id="m-scenes">
				
				<!-- START SCENE 1 -->
				<div id="m-scene-1" class="m-scene m-scene--full m-scene--intro" data-animation="slide-left" data-scene="1" data-timeline-pos="0%" data-title="Intro">
					<div class="m-scene__wrapper">
						<div id="scene_1" class="scene m-scene__inner" data-calibrate-y="true" data-scalar-y="3" data-scalar-x="6">

							<div class="m-scene__layer__content">
								<div class="m-scene__layer__inner">


									<div class="m-scene__content">
										<div class="m-scene__content__inner">

											<div class="m-scene--intro__content-bottom">
												<h1 class="txt--blue-dark"><b id="m-scene--intro__name">Jij</b><br> en Zuyderland</h1>
												<p>Zuyderland is er voor iedereen,  in elke fase van je leven</p>
											</div>

										</div>
									</div>

								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- END SCENE 1 -->


				<!-- START SCENE 2 -->
				<div id="m-scene-2" class="m-scene m-scene--full" data-animation="slide-left" data-scene="2" data-timeline-pos="16.5%" data-title="Geboortecentrum">
					<div class="m-scene__wrapper">
						<div id="scene_2" class="scene m-scene__inner" data-calibrate-y="true" data-scalar-y="3" data-scalar-x="6">
							
							<div class="m-scene__layer__triggers">
								<div class="m-scene__layer__inner">
									
									<div class="m-scene__triggers">

										<!-- Text modal -->
										<div id="modal_2_1" class="m-text-modal">
											
											<!-- Trigger -->
											<div class="o-trigger m-text-modal__trigger">
												<span class="o-trigger__inner">
												 <div class="o-trigger__dot"></div>
												</span>
											</div>
											
											<!-- Trigger -->
											<div class="m-text-modal__modal o-shape txt--white">
												<div class="m-text-modal__modal__inner">
													<div class="m-text-modal__modal__top">
														<a class="m-text-modal__close">
															<i class=" fa fa-close"></i>
														</a>
													</div>
													<p>
													In het Geboortecentrum staat het gezin centraal: er wordt gewerkt volgens <b>Family Centered Care</b>.
													</p>
												</div>
											</div>
										</div>

										<!-- Text modal -->
										<div id="modal_2_2" class="m-text-modal">
											
											<!-- Trigger -->
											<div class="o-trigger m-text-modal__trigger">
												<span class="o-trigger__inner">
												 <div class="o-trigger__dot"></div>
												</span>
											</div>
											
											<!-- Trigger -->
											<div class="m-text-modal__modal o-shape txt--white">
												<div class="m-text-modal__modal__inner">
													<div class="m-text-modal__modal__top">
														<a class="m-text-modal__close">
															<i class=" fa fa-close"></i>
														</a>
													</div>
													<p>
													Moeder en kind blijven te allen tijde samen op een kamer waar ook de partner kan overnachten. <b>Rooming-in faciliteit</b>.
													</p>
												</div>
											</div>
										</div>

										<!-- Text modal -->
										<div id="modal_2_3" class="m-text-modal">
											
											<!-- Trigger -->
											<div class="o-trigger m-text-modal__trigger">
												<span class="o-trigger__inner">
												 <div class="o-trigger__dot"></div>
												</span>
											</div>
											
											<!-- Trigger -->
											<div class="m-text-modal__modal o-shape txt--white">
												<div class="m-text-modal__modal__inner">
													<div class="m-text-modal__modal__top">
														<a class="m-text-modal__close">
															<i class=" fa fa-close"></i>
														</a>
													</div>
													
													<h3>Per dag worden er gemiddeld 7 baby’s geboren. </h3>

													<p>Dat zijn er ongeveer 2800 per jaar.</p>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__4" data-depth="0.90" data-layer-animation="animate-flip">
								<div class="m-scene__layer m-scene__layer__inner">

									<div class="flip-container">
										<div class="flip-container__inner">
										
										</div>	
									</div>

								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__3" data-depth="0.66" data-layer-animation="animate-center">
								<div class="m-scene__layer m-scene__layer__inner">
									
									<div class="center-container">

										<div class="center-container__l"></div>
										<div class="center-container__r"></div>
									  
									</div>

								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__2" data-depth="0.33" data-layer-animation="animate-center">
								<div class="m-scene__layer m-scene__layer__inner">
									
									<div class="center-container">

										<div class="center-container__l"></div>
										<div class="center-container__r"></div>
									  
									</div>

								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__1" data-depth="0.15" data-layer-animation="animate-slide">
								<div class="m-scene__layer m-scene__layer__inner">
									
									<div class="slide-container">
										<div class="cables">
											<div class="cable-left"></div>
											<div class="cable-right"></div>
										</div>
									</div>
									
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- END SCENE 2 -->

				<!-- START SCENE 3 -->
				<div id="m-scene-3" class="m-scene m-scene--full" data-animation="slide-left" data-scene="3" data-timeline-pos="33%" data-title="Diabetes">
					<div class="m-scene__wrapper">
						<div id="scene_3" class="scene m-scene__inner" data-calibrate-y="true" data-scalar-y="3" data-scalar-x="6">
							
							<div class="m-scene__layer__triggers">
								<div class="m-scene__layer__inner">
									
									<div class="m-scene__triggers">

										<!-- Text modal -->
										<div id="modal_3_1" class="m-text-modal">
											
											<!-- Trigger -->
											<div class="o-trigger m-text-modal__trigger">
												<span class="o-trigger__inner">
												 <div class="o-trigger__dot"></div>
												</span>
											</div>
											
											<!-- Trigger -->
											<div class="m-text-modal__modal o-shape txt--white">
												<div class="m-text-modal__modal__inner">
													<div class="m-text-modal__modal__top">
														<a class="m-text-modal__close">
															<i class=" fa fa-close"></i>
														</a>
													</div>
													<p>
													Ruim <b>6.000 kinderen</b> in Nederland hebben diabetes.
													</p>
												</div>
											</div>
										</div>

										<!-- Text modal -->
										<div id="modal_3_2" class="m-text-modal">
											
											<!-- Trigger -->
											<div class="o-trigger m-text-modal__trigger">
												<span class="o-trigger__inner">
												 <div class="o-trigger__dot"></div>
												</span>
											</div>
											
											<!-- Trigger -->
											<div class="m-text-modal__modal o-shape txt--white">
												<div class="m-text-modal__modal__inner">
													<div class="m-text-modal__modal__top">
														<a class="m-text-modal__close">
															<i class=" fa fa-close"></i>
														</a>
													</div>
													<p>
													Diabetes heet ook wel suikerziekte. Diabetes  is een chronische ziekte die niet meer overgaat.
													</p>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__4" data-depth="0.90" data-layer-animation="animate-flip">
								<div class="m-scene__layer m-scene__layer__inner">

									<div class="flip-container">
										<div class="flip-container__inner">
										
										</div>	
									</div>

								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__3" data-depth="0.66" data-layer-animation="animate-center">
								<div class="m-scene__layer m-scene__layer__inner">
									
									<div class="center-container">

										<div class="center-container__l"></div>
										<div class="center-container__r"></div>
									  
									</div>

								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__2" data-depth="0.33" data-layer-animation="animate-center">
								<div class="m-scene__layer m-scene__layer__inner">
									
									<div class="center-container">

										<div class="center-container__l"></div>
										<div class="center-container__r"></div>
									  
									</div>

								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__1" data-depth="0.15" data-layer-animation="animate-slide">
								<div class="m-scene__layer m-scene__layer__inner">
									
									<div class="slide-container">
										<div class="cables">
											<div class="cable-left"></div>
											<div class="cable-right"></div>
										</div>
									</div>
									
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- END SCENE 3 -->
				
				<!-- START SCENE 4 -->
				<div id="m-scene-4" class="m-scene m-scene--full" data-animation="slide-left" data-scene="4" data-timeline-pos="49.5%" data-title="Sportpoli">
					<div class="m-scene__wrapper">
						<div id="scene_4" class="scene m-scene__inner" data-calibrate-y="true" data-scalar-y="3" data-scalar-x="6">
							
							<div class="m-scene__layer__triggers">
								<div class="m-scene__layer__inner">
									
									<div class="m-scene__triggers">

										<!-- Text modal -->
										<div id="modal_4_1" class="m-text-modal">
											
											<!-- Trigger -->
											<div class="o-trigger m-text-modal__trigger">
												<span class="o-trigger__inner">
												 <div class="o-trigger__dot"></div>
												</span>
											</div>
											
											<!-- Trigger -->
											<div class="m-text-modal__modal o-shape txt--white">
												<div class="m-text-modal__modal__inner">
													<div class="m-text-modal__modal__top">
														<a class="m-text-modal__close">
															<i class=" fa fa-close"></i>
														</a>
													</div>
													<p>
													Hoge mate van expertise in alle sportgerelateerde letsels (zoals meniscusletsel, kruisbandletsel en de instabiele schouder).
													</p>
												</div>
											</div>
										</div>

										<!-- Text modal -->
										<div id="modal_4_2" class="m-text-modal">
											
											<!-- Trigger -->
											<div class="o-trigger m-text-modal__trigger">
												<span class="o-trigger__inner">
												 <div class="o-trigger__dot"></div>
												</span>
											</div>
											
											<!-- Trigger -->
											<div class="m-text-modal__modal o-shape txt--white">
												<div class="m-text-modal__modal__inner">
													<div class="m-text-modal__modal__top">
														<a class="m-text-modal__close">
															<i class=" fa fa-close"></i>
														</a>
													</div>
													<p>
													Sportorthopeden zijn onder andere consulent voor RODA JC, Fortuna Sittard en OCI LIONS.
													</p>
												</div>
											</div>
										</div>

										<!-- Text modal -->
										<div id="modal_4_3" class="m-text-modal">
											
											<!-- Trigger -->
											<div class="o-trigger m-text-modal__trigger">
												<span class="o-trigger__inner">
												 <div class="o-trigger__dot"></div>
												</span>
											</div>
											
											<!-- Trigger -->
											<div class="m-text-modal__modal o-shape txt--white">
												<div class="m-text-modal__modal__inner">
													<div class="m-text-modal__modal__top">
														<a class="m-text-modal__close">
															<i class=" fa fa-close"></i>
														</a>
													</div>
													<p>
													Intensieve samenwerking met sportfysiotherapeuten uit onze regio. 
													</p>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__3" data-depth="0.66" data-layer-animation="animate-flip">
								<div class="m-scene__layer m-scene__layer__inner">

									<div class="flip-container">
										<div class="flip-container__inner">
										
										</div>	
									</div>

								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__2" data-depth="0.33" data-layer-animation="animate-center">
								<div class="m-scene__layer m-scene__layer__inner">
									
									<div class="center-container">

										<div class="center-container__l"></div>
										<div class="center-container__r"></div>
									  
									</div>

								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__1" data-depth="0.15" data-layer-animation="animate-slide">
								<div class="m-scene__layer m-scene__layer__inner">
									
									<div class="slide-container">
										<div class="cables">
											<div class="cable-left"></div>
											<div class="cable-right"></div>
										</div>
									</div>
									
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- END SCENE 4 -->


				<!-- START SCENE 5 -->
				<div id="m-scene-5" class="m-scene m-scene--full" data-animation="slide-left" data-scene="5" data-timeline-pos="66%" data-title="Livestream">
					<div class="m-scene__wrapper">
						<div id="scene_5" class="scene m-scene__inner" data-calibrate-y="true" data-scalar-y="3" data-scalar-x="6">
							
							<div class="m-scene__layer__triggers">
								<div class="m-scene__layer__inner">
									
									<div class="m-scene__triggers">

										<!-- Text modal -->
										<div id="modal_5_1" class="m-text-modal">
											
											<!-- Trigger -->
											<div class="o-trigger m-text-modal__trigger">
												<span class="o-trigger__inner">
												 <div class="o-trigger__dot"></div>
												</span>
											</div>
											
											<!-- Trigger -->
											<div class="m-text-modal__modal o-shape txt--white">
												<div class="m-text-modal__modal__inner">
													<div class="m-text-modal__modal__top">
														<a class="m-text-modal__close">
															<i class=" fa fa-close"></i>
														</a>
													</div>
													<p>
													Zuyderland won vreemde zin en de vakjury galjaardprijs maar ook de publieksprijs voor deze aanpak.
													</p>
												</div>
											</div>
										</div>

										<!-- Text modal -->
										<div id="modal_5_2" class="m-text-modal">
											
											<!-- Trigger -->
											<div class="o-trigger m-text-modal__trigger">
												<span class="o-trigger__inner">
												 <div class="o-trigger__dot"></div>
												</span>
											</div>
											
											<!-- Trigger -->
											<div class="m-text-modal__modal o-shape txt--white">
												<div class="m-text-modal__modal__inner">
													<div class="m-text-modal__modal__top">
														<a class="m-text-modal__close">
															<i class=" fa fa-close"></i>
														</a>
													</div>
													<h2>62.000 kijkers</h2>
													<h4>700 vragen/reacties</h4>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__3" data-depth="0.66" data-layer-animation="animate-flip">
								<div class="m-scene__layer m-scene__layer__inner">

									<div class="flip-container">
										<div class="flip-container__inner">
										
										</div>	
									</div>

								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__2" data-depth="0.33" data-layer-animation="animate-center">
								<div class="m-scene__layer m-scene__layer__inner">
									
									<div class="center-container">

										<div class="center-container__l"></div>
										<div class="center-container__r"></div>
									  
									</div>

								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__1" data-depth="0.15" data-layer-animation="animate-slide">
								<div class="m-scene__layer m-scene__layer__inner">
									
									<div class="slide-container">
										<div class="cables">
											<div class="cable-left"></div>
											<div class="cable-right"></div>
										</div>
									</div>
									
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- END SCENE 5 -->


				<!-- START SCENE 6 -->
				<div id="m-scene-6" class="m-scene m-scene--full" data-animation="slide-left" data-scene="6" data-timeline-pos="82.5%" data-title="Thuiszorg">
					<div class="m-scene__wrapper">
						<div id="scene_6" class="scene m-scene__inner" data-calibrate-y="true" data-scalar-y="3" data-scalar-x="6">
							
							<div class="m-scene__layer__triggers">
								<div class="m-scene__layer__inner">
									
									<div class="m-scene__triggers">

										<!-- Text modal -->
										<div id="modal_6_1" class="m-text-modal">
											
											<!-- Trigger -->
											<div class="o-trigger m-text-modal__trigger">
												<span class="o-trigger__inner">
												 <div class="o-trigger__dot"></div>
												</span>
											</div>
											
											<!-- Trigger -->
											<div class="m-text-modal__modal o-shape txt--white">
												<div class="m-text-modal__modal__inner">
													<div class="m-text-modal__modal__top">
														<a class="m-text-modal__close">
															<i class=" fa fa-close"></i>
														</a>
													</div>
													<p>
													Ons Transmuraal Thuiszorg Team zorgt voor goede verpleging thuis na ontslag uit het ziekenhuis. Daardoor kunt u eerder naar uw eigen vertrouwde thuisomgeving.
													</p>
												</div>
											</div>
										</div>

										<!-- Text modal -->
										<div id="modal_6_2" class="m-text-modal">
											
											<!-- Trigger -->
											<div class="o-trigger m-text-modal__trigger">
												<span class="o-trigger__inner">
												 <div class="o-trigger__dot"></div>
												</span>
											</div>
											
											<!-- Trigger -->
											<div class="m-text-modal__modal o-shape txt--white">
												<div class="m-text-modal__modal__inner">
													<div class="m-text-modal__modal__top">
														<a class="m-text-modal__close">
															<i class=" fa fa-close"></i>
														</a>
													</div>
													<p>
													Steeds meer mensen blijven langer zelfstandig wonen en krijgen daarbij hulp van de Thuiszorg. In Zuid-Limburg is de vergrijzing het sterkst van Nederland.
													</p>
												</div>
											</div>
										</div>

										<!-- Text modal -->
										<div id="modal_6_3" class="m-text-modal">
											
											<!-- Trigger -->
											<div class="o-trigger m-text-modal__trigger">
												<span class="o-trigger__inner">
												 <div class="o-trigger__dot"></div>
												</span>
											</div>
											
											<!-- Trigger -->
											<div class="m-text-modal__modal o-shape txt--white">
												<div class="m-text-modal__modal__inner">
													<div class="m-text-modal__modal__top">
														<a class="m-text-modal__close">
															<i class=" fa fa-close"></i>
														</a>
													</div>
													<p>
													Onze wijkverpleegkundigen werken nauw samen met de huisartsen in de wijken en de specialisten in het ziekenhuis.
													</p>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__4" data-depth="0.90" data-layer-animation="animate-flip">
								<div class="m-scene__layer m-scene__layer__inner">

									<div class="flip-container">
										<div class="flip-container__inner">
										
										</div>	
									</div>

								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__3" data-depth="0.66" data-layer-animation="animate-center">
								<div class="m-scene__layer m-scene__layer__inner">
									
									<div class="center-container">

										<div class="center-container__l"></div>
										<div class="center-container__r"></div>
									  
									</div>

								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__2" data-depth="0.33" data-layer-animation="animate-center">
								<div class="m-scene__layer m-scene__layer__inner">
									
									<div class="center-container">

										<div class="center-container__l"></div>
										<div class="center-container__r"></div>
									  
									</div>

								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__1" data-depth="0.15" data-layer-animation="animate-slide">
								<div class="m-scene__layer m-scene__layer__inner">
									
									<div class="slide-container">
										<div class="cables">
											<div class="cable-left"></div>
											<div class="cable-right"></div>
										</div>
									</div>
									
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- END SCENE 6 -->

				<!-- START SCENE 7 -->
				<div id="m-scene-7" class="m-scene m-scene--full m-scene--final" data-animation="slide-left" data-scene="7" data-timeline-pos="100%" data-title="Facts">
					<div class="m-scene__wrapper">
						<div id="scene_7" class="scene m-scene__inner" data-calibrate-y="true" data-scalar-y="3" data-scalar-x="6">

							<div class="m-scene__layer__content">
								<div class="m-scene__layer__inner">


									<div class="m-scene__content">
										<div class="m-scene__content__inner">

											<div class="m-scene--final__content-bottom">
												<p>Benieuwd naar het volledige jaarverslag?<br>
												Lees dan alles op <a href="https://www.zuyderland.nl/js16" target="_blank">zuyderland.nl/js16</a></p>
												<hr>
												<p>Deel dit jaarverslag via Facebook
												<a href="#" class="m-social-media__button"><i class="fa fa-facebook"></i></a></p>
											</div>
										</div>
									</div>
									
									
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- END SCENE 6 -->

			</div>


		<!-- Bottom -->
		<footer id="l-footer">

			<nav class="m-timeline">
				<div class="m-timeline__start"><span class="number">0</span><span class="text">jr</span></div>
				<div class="m-timeline__inner">
					<div class="m-timeline__line"></div>
					<div class="m-timeline__line m-timeline__line--active"></div>
					<div class="m-timeline__items">

						<a href="javascript:void(0)" class="md-trigger m-timeline__sub__item" data-modal="modal-1" style="left: 8%;"></a>
						<a href="javascript:void(0)" class="md-trigger m-timeline__sub__item" data-modal="modal-2" style="left: 24%;"></a>
						<a href="javascript:void(0)" class="md-trigger m-timeline__sub__item" data-modal="modal-3" style="left: 40%;"></a>
						<a href="javascript:void(0)" class="md-trigger m-timeline__sub__item" data-modal="modal-4" style="left: 56%;"></a>
						<a href="javascript:void(0)" class="md-trigger m-timeline__sub__item" data-modal="modal-5" style="left: 72%;"></a>
						<a href="javascript:void(0)" class="md-trigger m-timeline__sub__item" data-modal="modal-6" style="left: 88%;"></a>
						<a href="javascript:void(0)" class="md-trigger m-timeline__sub__item" data-modal="modal-7" style="left: 94%;"></a>

					</div>
				</div>
				<div class="m-timeline__end"><span class="number">99</span><span class="text">jr</span></div>
			</nav>
			
			
		</footer>
		
		<!-- START MODAL -->
			<div class="md-modal md-effect-11" id="modal-1">
		        <div class="md-content">
		            <a class="md-close"><i class="fa fa-close"></i></a>

		            <div class="md-content-inner">

		            	<div class="md-content__title">
		            		<h3>Gastvrijheid</h3>
		            	</div>

		            	<div class="md-content__col-left">
		                	<p>Gastvrijheid betekent voor Zuyderland meer dan de patiënt centraal stellen. Het is één van de kernwaarden van onze organisatie. Naast hoogwaardige technische kwaliteit van zorg vinden onze patiënten bejegening en sfeer steeds belangrijker . De verbetering van de patiënttevredenheid en de maatschappelijke verantwoordelijkheid blijven onze drijfveren. Om deze ambitie waar te maken is bijvoorbeeld het programma Moodmaker opgezet.</p>
		                </div>
		                <div class="md-content__col-right">
							<p>Medewerkers worden met deze trainingen nog bewuster van hun rol als gastvrije zorgverlener en wat dat doet met patiënten en collega’s. In 2016 is de groep (geschoolde) Moodmakers verder gegroeid naar ruim 120 collega’s. Hierdoor is een netwerk ontstaan dat de Moodmakers-boodschap door de organisatie zendt. Als medewerkers zich prettig voelen op hun werk, dan merkt onze patiënt/cliënt dat ook.</p>
		                </div>
		                
		            </div>
		            
		        </div>
		    </div>

		    <div class="md-modal md-effect-11" id="modal-2">
		        <div class="md-content">
		            <a class="md-close"><i class="fa fa-close"></i></a>

		            <div class="md-content-inner">
						
						<div class="md-content__title">
		            		<h3>Patiënttevredenheidsonderzoek</h3>
		            	</div>

		            	<div class="md-content__col-left">
		                	<p>Zuyderland betrekt de patiënt/cliënt graag bij onderzoek naar de klanttevredenheid. We onderzoeken die tevredenheid op verschillende manieren. Bijvoorbeeld met het continue patiënttevredenheidsonderzoek van Zuyderland Medisch Centrum. Dat liet over 2016 een mooi gemiddeld cijfer zien: 8,1. Maar bij onderzoek komen ook punten naar voren die extra aandacht verdienen.</p>
		                </div>

		                <div class="md-content__col-right">
							<p>Daarom hebben we  ook verbeterpunten geformuleerd. Voorbeelden zijn:</p>
							<ul>
								<li>de informatie die patiënten vooraf aan het ziekenhuisbezoek ontvangen</li>
								<li>samen de zorg bepalen</li>
								<li>informatie over (bij)werkingen van medicatie. Deze punten pakken we op en verbeteren we verder.</li>

			                </ul>
		                </div>
		                
		            </div>
		            
		        </div>
		    </div>

		    <div class="md-modal md-effect-11" id="modal-3">
		        <div class="md-content">
		            <a class="md-close"><i class="fa fa-close"></i></a>

		            <div class="md-content-inner">

		            	<div class="md-content__title">
		            		<h3>NIAZ-accreditatieen andere keurmerken</h3>
		            	</div>

		            	<div class="md-content__col-left">
		                	<p>Zuyderland Medisch Centrum heeft in 2016 weer de NIAZ-accreditaties gehaald. Dit is een belangrijke kwaliteitsnorm voor ziekenhuizen. En daar zijn we trots op. Want de NIAZ-accreditatie is gehaald met een uitstekend resultaat op niveau goud en voor enkele andere onderdelen zelfs platina en diamant.  Maar ook de andere gangbare keurmerken en certificaten laten we graag zien. Deze zijn eveneens belangrijk voor ons, want ze worden verstrekt door patiëntenverenigingen en zorgverzekeraars bij het voldoen aan de gestelde kwaliteitseisen.</p>
		                </div>
		                
		                <div class="md-content__col-right">
							<p>Zuyderland Medisch Centrum heeft onder meer keurmerken voor vaatziekten, urine- en darmstoma, bloed- en lymfeklierkankerzorg en prostaatkankerzorg. Verder profileert Zuyderland Medisch Centrum zich als een senior vriendelijk ziekenhuis, dat tot uitdrukking komt in het opnieuw behalen van het keurmerk. <br>
							Kijk voor meer informatie op: <a href="https://www.zuyderland.nl/kwaliteitsvensters" target="_blank">https://www.zuyderland.nl/kwaliteitsvensters</a></p>
		                </div>

		            </div>
		            
		        </div>
		    </div>

		    <div class="md-modal md-effect-11" id="modal-4">
		        <div class="md-content">
		            <a class="md-close"><i class="fa fa-close"></i></a>

		            <div class="md-content-inner">

		            	<div class="md-content__title">
		            		<h3>Patiëntveiligheid</h3>
		            	</div>

		            	<div class="md-content__col-left">
		                	<p>Uw veiligheid is voor ons prioriteit. Daarom vinden vele preventieve maatregelen plaats, zoals audits, veiligheidscultuurgesprekken, veiligheidschecks, sireneacties en risico-inventarisaties. Deze maatregelen zijn erop gericht incidenten te voorkomen en het veiligheidsbewustzijn van medewerkers te vergroten. Maar zorg leveren, blijft mensenwerk. Als zich onverhoopt toch incidenten of calamiteiten voordoen, analyseren we deze gedegen. Zo kunnen we er lessen uit leren en veiligheidsmaatregelen nemen om herhaling te voorkomen.</p>
		                </div>
		                
		                <div class="md-content__col-right">
							<p>Het incident-meldsysteem is een belangrijk instrument om zicht te krijgen op verbeterkansen in de zorg om zo de zorg veiliger te maken. Als het incident dermate ernstig is, dat sprake is van een vermoedelijke calamiteit, dan melden we dit bij de Inspectie voor de Gezondheidszorg. In 2016 heeft  Zuyderland Medisch Centrum in totaal 22 calamiteiten gemeld.</p>
		                </div>

		            </div>
		            
		        </div>
		    </div>

		    <div class="md-modal md-effect-11" id="modal-5">
		        <div class="md-content">
		            <a class="md-close"><i class="fa fa-close"></i></a>

		            <div class="md-content-inner">

		            	<div class="md-content__title">
		            		<h3>Zuyderland Medisch Centrum Brunssum</h3>
		            	</div>

		            	<div class="md-content__col-left">
		                	<p>Dichtbij, gastvrij en servicegericht. Dat zijn de drie kenmerken voor de poliklinische zorg die we bieden in onze nieuwe locatie in Brunssum. In het voorjaar van 2016 is een groot aantal poliklinieken geopend in het gloednieuwe gebouw aan de Prins Hendriklaan. Zuyderland is weliswaar de grootste huurder, maar niet de enige.</p>
		                </div>
		                
		                <div class="md-content__col-right">
							<p>Andere zorgpartners, zoals huisartsen, apotheek, fysiotherapeut en verloskundigen, hebben eveneens voor een plek in Mijn, centrum voor medische zorg, gekozen. Hierdoor is er meer samenwerking tussen de zorgverleners en dat is in het voordeel van de patiënt.</p>
		                </div>

		            </div>
		            
		        </div>
		    </div>

		    <div class="md-modal md-effect-11" id="modal-6">
		        <div class="md-content">
		            <a class="md-close"><i class="fa fa-close"></i></a>

		            <div class="md-content-inner">

		            	<div class="md-content__title">
		            		<h3>Straat van Porthos</h3>
		            	</div>

		            	<div class="md-content__col-left">
		                	<p>Een eigen, herkenbare voordeur, een gang die lijkt op een straat in de wijk. Dat is de Straat van Porthos, in zorgcentrum Glana in Geleen. De gangen en deuren zijn omgetoverd tot een echt straatje. Compleet met vergezichten, met uitzicht op heuvels, molens en weilanden. Het werkt heel positief voor de dementerende bewoners.</p>
		                </div>
		                
		                <div class="md-content__col-right">
							<p>Ze voelen zich er beter op hun gemak. Wat ze zien, herinnert aan vroegere tijden. Het dwalen is minder, omdat de bewoners een eigen voordeur hebben die heel herkenbaar is. Het is een mooi voorbeeld van belevingsgerichte zorg voor cliënten.</p>
		                </div>

		            </div>
		            
		        </div>
		    </div>

		    <div class="md-modal md-effect-11" id="modal-7">
		        <div class="md-content">
		            <a class="md-close"><i class="fa fa-close"></i></a>

		            <div class="md-content-inner">

		            	<div class="md-content__title">
		            		<h3>Zorg achter de voordeur</h3>
		            	</div>

		            	<div class="md-content__col-left">
		                	<p>Zuyderland Thuiszorg is meer dan alleen verpleging en verzorging. Met drie teams voor Gespecialiseerde Thuis Begeleiding (GTB) biedt Thuiszorg hulp aan mensen die de grip op het leven (even) kwijt zijn. De geboden hulp is divers. Zo is er een team Psychogeriatrie dat dementere ouderen begeleidt, een team Psychiatrie dat zich richt op volwassenen en een team Multiproblem Jeugd dat hulp biedt bij gestoorde of moeilijke gezinssituaties.</p>
		                </div>
		                
		                <div class="md-content__col-right">
							<p>Voorop staat dat Zuyderland Thuiszorg samen met familieleden en mantelzorgers ernaar streeft cliënten zo lang en comfortabel mogelijk in hun eigen omgeving te laten wonen.</p>
		                </div>

		            </div>
		            
		        </div>
		    </div>
			
			<div class="md-overlay"></div>

		    <!-- START MODAL -->

		</div>
		<!-- END Wrapper -->
		
		<script src="./public/library/js/vendors/parallax.js"></script>

		<script>

			var url      = window.location.href;
  			
			url = url.replace('https://www.','');
			url = url.replace('http://www.','');
  			url = url.replace('http://','');
  			url = url.split(".")[0];

  			$(document).find("#m-scene--intro__name").html(url);

     		// var scene_1 = document.getElementById('scene_1');
  			// var parallax_1 = new Parallax(scene_1);

            var scene_2 = document.getElementById('scene_2');
  			var parallax_2 = new Parallax(scene_2);

  			var scene_3 = document.getElementById('scene_3');
  			var parallax_3 = new Parallax(scene_3);

  			var scene_4 = document.getElementById('scene_4');
  			var parallax_4 = new Parallax(scene_4);

  			var scene_5 = document.getElementById('scene_5');
  			var parallax_5 = new Parallax(scene_5);

  			var scene_6 = document.getElementById('scene_6');
  			var parallax_6 = new Parallax(scene_6);

  			// var scene_7 = document.getElementById('scene_7');
  			// var parallax_7 = new Parallax(scene_7);

		</script>

    	<script src="./public/library/js/vendors.min.js"></script>
		<script src="./public/library/js/main.min.js"></script>

		<!-- classie.js by @desandro: https://github.com/desandro/classie -->
	    <script src="./public/library/js/vendors/classie.js"></script>
	    <script src="./public/library/js/vendors/modalEffects.js"></script>

	    <!-- for the blur effect -->
	    <!-- by @derSchepp https://github.com/Schepp/CSS-Filters-Polyfill -->
	    <script>
	        // this is important for IEs
	        var polyfilter_scriptpath = './public/library/js/vendors';
	    </script>

	    <script src="./public/library/js/vendors/cssParser.js"></script>
	    <script src="./public/library/js/vendors/css-filters-polyfill.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!-- <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script> -->

    </body>
</html>
