<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"> 
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Online jaarverslag - Scene 1</title>
	
	<link type="text/css" rel="stylesheet" href="./public/library/css/main.css" />

	<script type="text/javascript" src="./public/library/js/vendors/modernizr-custom.js"></script>
	<script type="text/javascript" src="./public/library/js/vendors/detectizr.min.js"></script>
	<script type="text/javascript" src="./public/library/js/vendors/jquery-3.1.1.min.js"></script>
	<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
	<script type="text/javascript" src="./public/library/js/vendors/jquery.easing.1.3.js"></script>
	
	<!--[if lt IE 9]>
		{{ javascript_include("./public/library/js/vendor/html5shiv.js") }}
		{{ javascript_include("./public/library/js/vendor/respond.min.js") }}
	<![endif]-->

    </head>
    <body>
		
		<!-- START Wrapper -->
		<div id="l-wrapper">
			
			<div id="l-background"></div>

			<!-- Logo -->
			<div class="o-logo">
				
			</div>

			<!-- Controls -->
			<a href="#" id="o-btn-prev" class="o-btn o-btn--circle xxl o-btn--orange">
				<i class="fa fa-angle-left"></i>
			</a>

			<a href="#" id="o-btn-next" class="o-btn o-btn--circle xxl o-btn--orange">
				<i class="fa fa-angle-right"></i>
			</a>
			
			<div id="m-scenes">
				
				<!-- START SCENE 1 -->
				<div id="m-scene-1" class="m-scene m-scene--full" data-animation="slide-left" data-scene="1" data-timeline-pos="0%" data-title="tooltip 1">
					<div class="m-scene__wrapper">
						<div id="scene_1" class="scene m-scene__inner" data-calibrate-y="true" data-scalar-y="3" data-scalar-x="6">

							<div class="layer m-scene__layer m-scene__layer__1" data-depth="0.15">
								<div class="m-scene__layer m-scene__layer__inner">
									
									
									
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- END SCENE 1 -->

				<!-- START SCENE 2 -->
				<div id="m-scene-2" class="m-scene m-scene--full" data-animation="slide-left" data-scene="2" data-timeline-pos="16%" data-title="tooltip 2">
					<div class="m-scene__wrapper">
						<div id="scene_2" class="scene m-scene__inner" data-calibrate-y="true" data-scalar-y="3" data-scalar-x="6">
							
							<div class="m-scene__layer__triggers">
								<div class="m-scene__layer__inner">
									
									<div class="m-scene__triggers">

										<!-- Text modal -->
										<div id="modal_2_1" class="m-text-modal">
											
											<!-- Trigger -->
											<div class="o-trigger m-text-modal__trigger">
												<span class="o-trigger__inner">
												 <div class="o-trigger__dot"></div>
												</span>
											</div>
											
											<!-- Trigger -->
											<div class="m-text-modal__modal o-shape txt--white">
												<div class="m-text-modal__modal__inner">
													<div class="m-text-modal__modal__top">
														<a class="m-text-modal__close">
															<i class=" fa fa-close"></i>
														</a>
													</div>
													<p>
													2_2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
													</p>
												</div>
											</div>
										</div>

										<!-- Text modal -->
										<div id="modal_2_2" class="m-text-modal">
											
											<!-- Trigger -->
											<div class="o-trigger m-text-modal__trigger">
												<span class="o-trigger__inner">
												 <div class="o-trigger__dot"></div>
												</span>
											</div>
											
											<!-- Trigger -->
											<div class="m-text-modal__modal o-shape txt--white">
												<div class="m-text-modal__modal__inner">
													<div class="m-text-modal__modal__top">
														<a class="m-text-modal__close">
															<i class=" fa fa-close"></i>
														</a>
													</div>
													<p>
													2_1 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
													</p>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__3" data-depth="0.66" data-layer-animation="animate-flip">
								<div class="m-scene__layer m-scene__layer__inner">

									<div class="flip-container">
										<div class="flip-container__inner">
										
										</div>	
									</div>

								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__2" data-depth="0.33" data-layer-animation="animate-center">
								<div class="m-scene__layer m-scene__layer__inner">
									
									<div class="center-container">

										<div class="center-container__l"></div>
										<div class="center-container__r"></div>
									  
									</div>

								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__1" data-depth="0.15" data-layer-animation="animate-slide">
								<div class="m-scene__layer m-scene__layer__inner">
									
									<div class="slide-container">
										<div class="cables">
											<div class="cable-left"></div>
											<div class="cable-right"></div>
										</div>
									</div>
									
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- END SCENE 2 -->

				<!-- START SCENE 3 -->
				<div id="m-scene-3" class="m-scene m-scene--full" data-animation="slide-left" data-scene="3" data-timeline-pos="32%" data-title="tooltip 3">
					<div class="m-scene__wrapper">
						<div id="scene_3" class="scene m-scene__inner" data-calibrate-y="true" data-scalar-y="3" data-scalar-x="6">
							
							<div class="m-scene__layer__triggers">
								<div class="m-scene__layer__inner">
									
									<div class="m-scene__triggers">

										<!-- Text modal -->
										<div id="modal_3_1" class="m-text-modal">
											
											<!-- Trigger -->
											<div class="o-trigger m-text-modal__trigger">
												<span class="o-trigger__inner">
												 <div class="o-trigger__dot"></div>
												</span>
											</div>
											
											<!-- Trigger -->
											<div class="m-text-modal__modal o-shape txt--white">
												<div class="m-text-modal__modal__inner">
													<div class="m-text-modal__modal__top">
														<a class="m-text-modal__close">
															<i class=" fa fa-close"></i>
														</a>
													</div>
													<p>
													3_1 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
													</p>
												</div>
											</div>
										</div>

										<!-- Text modal -->
										<div id="modal_3_2" class="m-text-modal">
											
											<!-- Trigger -->
											<div class="o-trigger m-text-modal__trigger">
												<span class="o-trigger__inner">
												 <div class="o-trigger__dot"></div>
												</span>
											</div>
											
											<!-- Trigger -->
											<div class="m-text-modal__modal o-shape txt--white">
												<div class="m-text-modal__modal__inner">
													<div class="m-text-modal__modal__top">
														<a class="m-text-modal__close">
															<i class=" fa fa-close"></i>
														</a>
													</div>
													<p>
													3_2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
													</p>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__3" data-depth="0.66" data-layer-animation="animate-flip">
								<div class="m-scene__layer m-scene__layer__inner">

									<div class="flip-container">
										<div class="flip-container__inner">
										
										</div>	
									</div>

								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__2" data-depth="0.33" data-layer-animation="animate-center">
								<div class="m-scene__layer m-scene__layer__inner">
									
									<div class="center-container">

										<div class="center-container__l"></div>
										<div class="center-container__r"></div>
									  
									</div>

								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__1" data-depth="0.15" data-layer-animation="animate-slide">
								<div class="m-scene__layer m-scene__layer__inner">
									
									<div class="slide-container">
										<div class="cables">
											<div class="cable-left"></div>
											<div class="cable-right"></div>
										</div>
									</div>
									
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- END SCENE 3 -->

				<!-- START SCENE 4 -->
				<div id="m-scene-4" class="m-scene m-scene--full" data-animation="slide-left" data-scene="4" data-timeline-pos="48%" data-title="tooltip 4">
					<div class="m-scene__wrapper">
						<div id="scene_4" class="scene m-scene__inner" data-calibrate-y="true" data-scalar-y="3" data-scalar-x="6">
							
							<div class="m-scene__layer__triggers">
								<div class="m-scene__layer__inner">
									
									<div class="m-scene__triggers">

										<!-- Text modal -->
										<div id="modal_4_1" class="m-text-modal">
											
											<!-- Trigger -->
											<div class="o-trigger m-text-modal__trigger">
												<span class="o-trigger__inner">
												 <div class="o-trigger__dot"></div>
												</span>
											</div>
											
											<!-- Trigger -->
											<div class="m-text-modal__modal o-shape txt--white">
												<div class="m-text-modal__modal__inner">
													<div class="m-text-modal__modal__top">
														<a class="m-text-modal__close">
															<i class=" fa fa-close"></i>
														</a>
													</div>
													<p>
													4_1 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
													</p>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__3" data-depth="0.66" data-layer-animation="animate-flip">
								<div class="m-scene__layer m-scene__layer__inner">

									<div class="flip-container">
										<div class="flip-container__inner">
										
										</div>	
									</div>

								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__2" data-depth="0.33" data-layer-animation="animate-center">
								<div class="m-scene__layer m-scene__layer__inner">
									
									<div class="center-container">

										<div class="center-container__l"></div>
										<div class="center-container__r"></div>
									  
									</div>

								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__1" data-depth="0.15" data-layer-animation="animate-slide">
								<div class="m-scene__layer m-scene__layer__inner">
									
									<div class="slide-container">
										<div class="cables">
											<div class="cable-left"></div>
											<div class="cable-right"></div>
										</div>
									</div>
									
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- END SCENE 4 -->

				<!-- START SCENE 5 -->
				<div id="m-scene-5" class="m-scene m-scene--full" data-animation="slide-left" data-scene="5" data-timeline-pos="64%" data-title="tooltip 5">
					<div class="m-scene__wrapper">
						<div id="scene_5" class="scene m-scene__inner" data-calibrate-y="true" data-scalar-y="3" data-scalar-x="6">
							
							<div class="m-scene__layer__triggers">
								<div class="m-scene__layer__inner">
									
									<div class="m-scene__triggers">

										<!-- Text modal -->
										<div id="modal_5_1" class="m-text-modal">
											
											<!-- Trigger -->
											<div class="o-trigger m-text-modal__trigger">
												<span class="o-trigger__inner">
												 <div class="o-trigger__dot"></div>
												</span>
											</div>
											
											<!-- Trigger -->
											<div class="m-text-modal__modal o-shape txt--white">
												<div class="m-text-modal__modal__inner">
													<div class="m-text-modal__modal__top">
														<a class="m-text-modal__close">
															<i class=" fa fa-close"></i>
														</a>
													</div>
													<p>
													5_1 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
													</p>
												</div>
											</div>
										</div>

										<!-- Text modal -->
										<div id="modal_5_2" class="m-text-modal">
											
											<!-- Trigger -->
											<div class="o-trigger m-text-modal__trigger">
												<span class="o-trigger__inner">
												 <div class="o-trigger__dot"></div>
												</span>
											</div>
											
											<!-- Trigger -->
											<div class="m-text-modal__modal o-shape txt--white">
												<div class="m-text-modal__modal__inner">
													<div class="m-text-modal__modal__top">
														<a class="m-text-modal__close">
															<i class=" fa fa-close"></i>
														</a>
													</div>
													<p>
													5_2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
													</p>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__3" data-depth="0.66" data-layer-animation="animate-flip">
								<div class="m-scene__layer m-scene__layer__inner">

									<div class="flip-container">
										<div class="flip-container__inner">
										
										</div>	
									</div>

								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__2" data-depth="0.33" data-layer-animation="animate-center">
								<div class="m-scene__layer m-scene__layer__inner">
									
									<div class="center-container">

										<div class="center-container__l"></div>
										<div class="center-container__r"></div>
									  
									</div>

								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__1" data-depth="0.15" data-layer-animation="animate-slide">
								<div class="m-scene__layer m-scene__layer__inner">
									
									<div class="slide-container">
										<div class="cables">
											<div class="cable-left"></div>
											<div class="cable-right"></div>
										</div>
									</div>
									
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- END SCENE 5 -->

				<!-- START SCENE 6 -->
				<div id="m-scene-6" class="m-scene m-scene--full" data-animation="slide-left" data-scene="6" data-timeline-pos="80%" data-title="tooltip 6">
					<div class="m-scene__wrapper">
						<div id="scene_6" class="scene m-scene__inner" data-calibrate-y="true" data-scalar-y="3" data-scalar-x="6">
							
							<div class="m-scene__layer__triggers">
								<div class="m-scene__layer__inner">
									
									<div class="m-scene__triggers">

										<!-- Text modal -->
										<div id="modal_6_1" class="m-text-modal">
											
											<!-- Trigger -->
											<div class="o-trigger m-text-modal__trigger">
												<span class="o-trigger__inner">
												 <div class="o-trigger__dot"></div>
												</span>
											</div>
											
											<!-- Trigger -->
											<div class="m-text-modal__modal o-shape txt--white">
												<div class="m-text-modal__modal__inner">
													<div class="m-text-modal__modal__top">
														<a class="m-text-modal__close">
															<i class=" fa fa-close"></i>
														</a>
													</div>
													<p>
													6_1 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
													</p>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__3" data-depth="0.66" data-layer-animation="animate-flip">
								<div class="m-scene__layer m-scene__layer__inner">

									<div class="flip-container">
										<div class="flip-container__inner">
										
										</div>	
									</div>

								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__2" data-depth="0.33" data-layer-animation="animate-center">
								<div class="m-scene__layer m-scene__layer__inner">
									
									<div class="center-container">

										<div class="center-container__l"></div>
										<div class="center-container__r"></div>
									  
									</div>

								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__1" data-depth="0.15" data-layer-animation="animate-slide">
								<div class="m-scene__layer m-scene__layer__inner">
									
									<div class="slide-container">
										<div class="cables">
											<div class="cable-left"></div>
											<div class="cable-right"></div>
										</div>
									</div>
									
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- END SCENE 6 -->

				<!-- START SCENE 7 -->
				<div id="m-scene-7" class="m-scene m-scene--full m-scene--final" data-animation="slide-left" data-scene="7" data-timeline-pos="100%" data-title="tooltip 7">
					<div class="m-scene__wrapper">
						<div id="scene_7" class="scene m-scene__inner" data-calibrate-y="true" data-scalar-y="3" data-scalar-x="6">

							<div class="layer m-scene__layer m-scene__layer__1" data-depth="0.15">
								<div class="m-scene__layer m-scene__layer__inner">
									
									
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- END SCENE 6 -->

			</div>


		<!-- Bottom -->
		<footer id="l-footer">

			<nav class="m-timeline">
				<div class="m-timeline__start"><span class="number">0</span><span class="text">jr</span></div>
				<div class="m-timeline__inner">
					<div class="m-timeline__line"></div>
					<div class="m-timeline__line m-timeline__line--active"></div>
					<div class="m-timeline__items">

						<a href="javascript:void(0)" class="md-trigger m-timeline__sub__item" data-modal="modal-1" style="left: 15%;"></a>
						<a href="javascript:void(0)" class="md-trigger m-timeline__sub__item" data-modal="modal-2" style="left: 40%;"></a>
						<a href="javascript:void(0)" class="md-trigger m-timeline__sub__item" data-modal="modal-3" style="left: 65%;"></a>

					</div>
				</div>
				<div class="m-timeline__end"><span class="number">99</span><span class="text">jr</span></div>
			</nav>
			
			
		</footer>
		
		<!-- START MODAL -->
			<div class="md-modal md-effect-11" id="modal-1">
		        <div class="md-content">
		            <a class="md-close"><i class="fa fa-close"></i></a>

		            <div class="md-content-inner">
		            	<h3>Geboortecentrum</h3>
		                <p>Cras eleifend dignissim quam ut dapibus. Nam euismod gravida nibh ut dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper vestibulum feugiat. Aliquam pellentesque ornare vulputate. Integer ut tincidunt ipsum. Cras condimentum sit amet felis ut ultrices.</p>

						<p>Sed commodo eleifend lectus ultricies aliquam. Suspendisse at ipsum ut lectus scelerisque ullamcorper eget id arcu. Nunc eget pretium magna. Fusce augue neque, mattis sit amet elit sit amet, blandit pharetra sapien. In pellentesque neque a sapien volutpat tempor. Sed viverra orci malesuada orci sodales euismod. Donec ex mi, imperdiet et nisi sit amet, imperdiet fringilla lacus. Curabitur a finibus felis, id venenatis felis.</p>
		            </div>
		            
		        </div>
		    </div>

		    <div class="md-modal md-effect-11" id="modal-2">
		        <div class="md-content">
		            <a class="md-close"><i class="fa fa-close"></i></a>

		            <div class="md-content-inner">
		            	<h3>Nog een andere titel</h3>
		                <p>Cras eleifend dignissim quam ut dapibus. Nam euismod gravida nibh ut dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper vestibulum feugiat. Aliquam pellentesque ornare vulputate. Integer ut tincidunt ipsum. Cras condimentum sit amet felis ut ultrices.</p>

						<p>Sed commodo eleifend lectus ultricies aliquam. Suspendisse at ipsum ut lectus scelerisque ullamcorper eget id arcu. Nunc eget pretium magna. Fusce augue neque, mattis sit amet elit sit amet, blandit pharetra sapien. In pellentesque neque a sapien volutpat tempor. Sed viverra orci malesuada orci sodales euismod. Donec ex mi, imperdiet et nisi sit amet, imperdiet fringilla lacus. Curabitur a finibus felis, id venenatis felis.</p>

						<p>Cras eleifend dignissim quam ut dapibus. Nam euismod gravida nibh ut dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper vestibulum feugiat. Aliquam pellentesque ornare vulputate. Integer ut tincidunt ipsum. Cras condimentum sit amet felis ut ultrices.</p>

						<p>Sed commodo eleifend lectus ultricies aliquam. Suspendisse at ipsum ut lectus scelerisque ullamcorper eget id arcu. Nunc eget pretium magna. Fusce augue neque, mattis sit amet elit sit amet, blandit pharetra sapien. In pellentesque neque a sapien volutpat tempor. Sed viverra orci malesuada orci sodales euismod. Donec ex mi, imperdiet et nisi sit amet, imperdiet fringilla lacus. Curabitur a finibus felis, id venenatis felis.</p>
		            </div>
		            
		        </div>
		    </div>

		    <div class="md-modal md-effect-11" id="modal-3">
		        <div class="md-content">
		            <a class="md-close"><i class="fa fa-close"></i></a>

		            <div class="md-content-inner">
		            	<h3>En een derde titel</h3>
		                <p>Cras eleifend dignissim quam ut dapibus. Nam euismod gravida nibh ut dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper vestibulum feugiat. Aliquam pellentesque ornare vulputate. Integer ut tincidunt ipsum. Cras condimentum sit amet felis ut ultrices.</p>

						<p>Sed commodo eleifend lectus ultricies aliquam. Suspendisse at ipsum ut lectus scelerisque ullamcorper eget id arcu. Nunc eget pretium magna. Fusce augue neque, mattis sit amet elit sit amet, blandit pharetra sapien. In pellentesque neque a sapien volutpat tempor. Sed viverra orci malesuada orci sodales euismod. Donec ex mi, imperdiet et nisi sit amet, imperdiet fringilla lacus. Curabitur a finibus felis, id venenatis felis.</p>

						<p>Cras eleifend dignissim quam ut dapibus. Nam euismod gravida nibh ut dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper vestibulum feugiat. Aliquam pellentesque ornare vulputate. Integer ut tincidunt ipsum. Cras condimentum sit amet felis ut ultrices.</p>

		            </div>
		            
		        </div>
		    </div>
			
			<div class="md-overlay"></div>

		    <!-- START MODAL -->

		</div>
		<!-- END Wrapper -->
		
		<script src="./public/library/js/vendors/parallax.js"></script>

		<script>

            var scene_1 = document.getElementById('scene_1');
  			var parallax_1 = new Parallax(scene_1);

            var scene_2 = document.getElementById('scene_2');
  			var parallax_2 = new Parallax(scene_2);

  			var scene_3 = document.getElementById('scene_3');
  			var parallax_3 = new Parallax(scene_3);

  			var scene_4 = document.getElementById('scene_4');
  			var parallax_4 = new Parallax(scene_4);

  			var scene_5 = document.getElementById('scene_5');
  			var parallax_5 = new Parallax(scene_5);

  			var scene_6 = document.getElementById('scene_6');
  			var parallax_6 = new Parallax(scene_6);

  			var scene_7 = document.getElementById('scene_7');
  			var parallax_7 = new Parallax(scene_7);

		</script>

    	<script src="./public/library/js/vendors.min.js"></script>
		<script src="./public/library/js/main.min.js"></script>

		<!-- classie.js by @desandro: https://github.com/desandro/classie -->
	    <script src="./public/library/js/vendors/classie.js"></script>
	    <script src="./public/library/js/vendors/modalEffects.js"></script>

	    <!-- for the blur effect -->
	    <!-- by @derSchepp https://github.com/Schepp/CSS-Filters-Polyfill -->
	    <script>
	        // this is important for IEs
	        var polyfilter_scriptpath = './public/library/js/vendors';
	    </script>

	    <script src="./public/library/js/vendors/cssParser.js"></script>
	    <script src="./public/library/js/vendors/css-filters-polyfill.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!-- <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script> -->

    </body>
</html>
