<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"> 
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Online jaarverslag - Scene 1</title>
	
	<link type="text/css" rel="stylesheet" href="./public/library/css/main.css" />

	<script type="text/javascript" src="./public/library/js/vendors/modernizr-custom.js"></script>
	<script type="text/javascript" src="./public/library/js/vendors/detectizr.min.js"></script>
	<script type="text/javascript" src="./public/library/js/vendors/jquery-3.1.1.min.js"></script>
	<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
	<script type="text/javascript" src="./public/library/js/vendors/jquery.easing.1.3.js"></script>
	

	<!--[if lt IE 9]>
		{{ javascript_include("./public/library/js/vendor/html5shiv.js") }}
		{{ javascript_include("./public/library/js/vendor/respond.min.js") }}
	<![endif]-->

    </head>
    <body>
		
		<!-- START Wrapper -->
		<div id="l-wrapper">
			
			<div id="l-background"></div>

			<!-- <div id="l-overlay-elements"> -->
				<!-- Logo -->
				<div class="o-logo">
					
				</div>

				<!-- Controls -->
				<a href="#" id="o-btn-prev" class="o-btn o-btn--circle xxl o-btn--orange">
					<i class="fa fa-angle-left"></i>
				</a>

				<a href="#" id="o-btn-next" class="o-btn o-btn--circle xxl o-btn--orange">
					<i class="fa fa-angle-right"></i>
				</a>
			<!-- </div> -->
			
			<div id="m-scenes">
				
				<!-- START SCENE 1 -->
				<div id="m-scene-1" class="m-scene m-scene--full" data-animation="slide-left" data-scene="1" data-timeline-pos="0%">
					<div class="m-scene__wrapper">
						<div id="scene_1" class="scene m-scene__inner" data-calibrate-y="true" data-scalar-y="3" data-scalar-x="6">
							<div class="m-scene__layer__bubbles">
								<div class="m-scene__layer__inner">
									<div class="m-bubbles m-bubbles--right" data-delay-start="1500" data-delay-end="infinite" data-progress="true" data-loop="false">
					                    <div class="m-bubbles__container">
						                    
											<div class="m-bubbles__visible">
												
											</div>

					                    	<div class="m-bubbles__hidden">

						                        <div class="m-bubbles__item m-bubbles__item--right o-shape o-shape--right" data-animation="fadein" data-duration="1000" data-delay-start="0">
						                            <div class="m-bubbles__item__content">
						                                <h3>Kruisband</h3>
						                            </div>
						                            <div class="m-bubbles__item__progressbar"><div></div></div>
						                        </div>

						                        <div class="m-bubbles__item m-bubbles__item--left o-shape o-shape--left" data-animation="fadein" data-duration="3000" data-delay-start="500">
						                            <div class="m-bubbles__item__content">
						                                EERSTE Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						                            </div>
						                            <div class="m-bubbles__item__progressbar"><div></div></div>
						                        </div>

						                        <div class="m-bubbles__item m-bubbles__item--right o-shape o-shape--right" data-animation="fadein" data-duration="3000" data-delay-start="500">
						                            <div class="m-bubbles__item__content">
						                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						                                consectetur adipisicing elit.
						                            </div>
						                            <div class="m-bubbles__item__progressbar"><div></div></div>
						                        </div>

						                        <div class="m-bubbles__item m-bubbles__item--left o-shape o-shape--left" data-animation="fadein" data-duration="3000" data-delay-start="500">
						                            <div class="m-bubbles__item__content">
						                                EERSTE Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						                            </div>
						                            <div class="m-bubbles__item__progressbar"><div></div></div>
						                        </div>

						                        <div class="m-bubbles__item m-bubbles__item--right o-shape o-shape--right" data-animation="fadein" data-duration="3000" data-delay-start="500">
						                            <div class="m-bubbles__item__content">
						                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						                                consectetur adipisicing elit.
						                            </div>
						                            <div class="m-bubbles__item__progressbar"><div></div></div>
						                        </div>
						                    </div>
					                    </div>
					                </div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>


			<!-- Bottom -->
			<footer id="l-footer">
				<nav class="m-timeline">
					<div class="m-timeline__start">0</div>
					<div class="m-timeline__inner">
						<div class="m-timeline__line"></div>
						<div class="m-timeline__line m-timeline__line--active"></div>
						<div class="m-timeline__items">
	
							<a href="javascript:void(0)" class="md-trigger m-timeline__sub__item" data-modal="modal-1" style="left: 15%;"></a>
							<a href="javascript:void(0)" class="md-trigger m-timeline__sub__item" data-modal="modal-2" style="left: 40%;"></a>
							<a href="javascript:void(0)" class="md-trigger m-timeline__sub__item" data-modal="modal-3" style="left: 65%;"></a>
	
						</div>
					</div>
					<div class="m-timeline__end">99</div>
				</nav>
			</footer>

		</div>
		<!-- END Wrapper -->

    	<script src="./public/library/js/vendors.min.js"></script>
		<script src="./public/library/js/main.min.js"></script>


		<!-- classie.js by @desandro: https://github.com/desandro/classie -->
	    <script src="./public/library/js/vendors/classie.js"></script>
	    <script src="./public/library/js/vendors/modalEffects.js"></script>

	    <!-- for the blur effect -->
	    <!-- by @derSchepp https://github.com/Schepp/CSS-Filters-Polyfill -->
	    <script>
	        // this is important for IEs
	        var polyfilter_scriptpath = './public/library/js/vendors';
	    </script>

	    <script src="./public/library/js/vendors/cssParser.js"></script>
	    <script src="./public/library/js/vendors/css-filters-polyfill.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!-- <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script> -->

    </body>
</html>
