<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"> 
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Online jaarverslag - Elementen</title>
	
	<link type="text/css" rel="stylesheet" href="./public/library/css/main.css" />

	<script type="text/javascript" src="./public/library/js/vendors/modernizr-custom.js"></script>
	<script type="text/javascript" src="./public/library/js/vendors/detectizr.min.js"></script>

	<!--[if lt IE 9]>
		{{ javascript_include("./public/library/js/vendor/html5shiv.js") }}
		{{ javascript_include("./public/library/js/vendor/respond.min.js") }}
	<![endif]-->

    </head>
    <body>
		
		<!-- START Wrapper -->
		<div id="l-wrapper">
			
			<!-- Logo -->
			<div class="o-logo">
				
			</div>

			<!-- Text -->
			<h1>Sed ut perspiciatis unde omnis</h1>
			<h2>Nemo enim ipsam voluptatem quia voluptas</h2>
			<h3>Sed ut perspiciatis unde omnis</h3>
			<h4>Nemo enim ipsam voluptatem quia voluptas</h4>

			<b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</b> 

			<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat <a href="#">cupidatat</a> non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			
			<!-- Button holder -->
			<div class="o-btn-holder">

				<!-- Buttons -->
				<a href="#" class="o-btn o-btn--orange pull-left">
					<span class="o-btn__content">Lees meer</span>
					<span class="o-btn__square">
						<span class="fa fa-chevron-right"></span>
					</span>
				</a>

				<a href="#" class="o-btn o-btn--blue-dark pull-left">
					<span class="o-btn__content">Lees meer</span>
					<span class="o-btn__square">
						<span class="fa fa-chevron-right"></span>
					</span>
				</a>

			</div>

			<!-- Shape -->
			<div class="o-shape">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</div>

			<!-- Trigger -->
			<a href="#" class="o-trigger">
				<span class="o-trigger__inner">
				•
				</span>
			</a>

			<!-- Controls -->
			<a href="#" class="o-btn o-btn--circle xxl o-btn--orange">
				<i class="fa fa-angle-right"></i>
			</a>

			<a href="#" class="o-btn o-btn--circle xxl o-btn--orange">
				<i class="fa fa-angle-left"></i>
			</a>
	
		</div>
		<!-- END Wrapper -->

    	<script src="./public/library/js/vendors.min.js"></script>
		<script src="./public/library/js/main.min.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!-- <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script> -->

    </body>
</html>
