<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"> 
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Online jaarverslag - Scene 1</title>
	
	<link type="text/css" rel="stylesheet" href="./public/library/css/main.css" />

	<script type="text/javascript" src="./public/library/js/vendors/modernizr-custom.js"></script>
	<script type="text/javascript" src="./public/library/js/vendors/detectizr.min.js"></script>
	<script type="text/javascript" src="./public/library/js/vendors/jquery-3.1.1.min.js"></script>
	<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
	<script type="text/javascript" src="./public/library/js/vendors/jquery.easing.1.3.js"></script>
	

	<!--[if lt IE 9]>
		{{ javascript_include("./public/library/js/vendor/html5shiv.js") }}
		{{ javascript_include("./public/library/js/vendor/respond.min.js") }}
	<![endif]-->

	<style>
	

	/*Flipper 1*/
		.flip-container {
		  -webkit-perspective: 1000;
		  -moz-perspective: 1000;
		  -o-perspective: 1000;
		  perspective: 1000;
		  border: 1px solid #ccc;
		  width: 400px;
		  height: 300px;
		  margin-bottom: 15px;
		}

			.flip-container:hover .flipper,  
		  .flip-container.hover .flipper {
				-webkit-transform: rotateY(180deg);
				-moz-transform: rotateY(180deg);
		    -o-transform: rotateY(180deg);
				transform: rotateY(180deg);
			}

		.front, .back {
			width: 100%;
			height: 100%;
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
		  -o-backface-visibility: hidden;
			backface-visibility: hidden;

			position: absolute;
			top: 0;
			left: 0;
		}

		.flipper {
			width: 100%;
			height: 100%;

			-webkit-transition: 0.6s;
			-webkit-transform-style: preserve-3d;

			-moz-transition: 0.6s;
			-moz-transform-style: preserve-3d;
		  
		  -o-transition: 0.6s;
			-o-transform-style: preserve-3d;

			transition: 0.6s;
			transform-style: preserve-3d;

			position: relative;
		}

		.front {
			background: red;
			z-index: 2;
		}

		.back {
			-webkit-transform: rotateY(180deg);
			-moz-transform: rotateY(180deg);
		  -o-transform: rotateY(180deg);
			transform: rotateY(180deg);

			background: #f8f8f8;
		}

		.back p {
			position: absolute;
			bottom: 40px;
			left: 0;
			right: 0;
			text-align: center;
			padding: 0 20px;
		}
		
		

		/*Flipper 2*/

		.flip-container-2 {
		  -webkit-perspective: 1000;
		  -moz-perspective: 1000;
		  -o-perspective: 1000;
		  perspective: 1000;
		  border: 1px solid #ccc;
		  width: 400px;
		  height: 300px;
		  margin-bottom: 15px;
		}

			.flip-container-2:hover .flipper-2,  
		  .flip-container-2.hover .flipper-2 {
				-webkit-transform: rotateX(180deg);
				-moz-transform: rotateX(180deg);
		    -o-transform: rotateX(180deg);
				transform: rotateX(180deg);
			}

		.front-2, .back-2 {
			width: 100%;
			height: 100%;
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
		  -o-backface-visibility: hidden;
			backface-visibility: hidden;

			position: absolute;
			top: 0;
			left: 0;
		}

		.flipper-2 {
			width: 100%;
			height: 100%;

			-webkit-transition: 0.6s;
			-webkit-transform-style: preserve-3d;

			-moz-transition: 0.6s;
			-moz-transform-style: preserve-3d;
		  
		  -o-transition: 0.6s;
			-o-transform-style: preserve-3d;

			transition: 0.6s;
			transform-style: preserve-3d;

			position: relative;
		}

		.front-2 {
			background: blue;
			z-index: 2;
		}

		.back-2 {
			-webkit-transform: rotateX(180deg);
			-moz-transform: rotateX(180deg);
		  -o-transform: rotateX(180deg);
			transform: rotateX(180deg);

			background: #f8f8f8;
		}

		.back-2 p {
			position: absolute;
			bottom: 40px;
			left: 0;
			right: 0;
			text-align: center;
			padding: 0 20px;
		}


		/*Flipper 3*/
		.flip-container-3 {
		  -webkit-perspective: 1000;
		  -moz-perspective: 1000;
		  -o-perspective: 1000;
		  perspective: 1000;
		  border: 1px solid #ccc;
		  width: 400px;
		  height: 300px;
		}

		.flip-container-3:hover .flipper-3,  
		  .flip-container-3.hover .flipper-3 {
				-webkit-transform: rotateX(180deg);
				-moz-transform: rotateX(180deg);
		    	-o-transform: rotateX(180deg);
				transform: rotateX(180deg);
			
		}

		.back-3 p {
			position: absolute;
			bottom: 40px;
			left: 0;
			right: 0;
			text-align: center;
			padding: 0 20px;

		}

		.front-3, .back-3 {
			width: 100%;
			height: 100%;
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
		  -o-backface-visibility: hidden;
			backface-visibility: hidden;

			position: absolute;
			top: 0;
			left: 0;


		}

		.flipper-3 {
			width: 100%;
			height: 100%;

			-webkit-transition: 0.3s;
			-webkit-transform-style: preserve-3d;

			-moz-transition: 0.3s;
			-moz-transform-style: preserve-3d;
		  
		  -o-transition: 0.3s;
			-o-transform-style: preserve-3d;

			transition: 0.3s;
			transform-style: preserve-3d;

			position: relative;

			-webkit-transform: rotateX(90deg);
			-moz-transform: rotateX(90deg);
	    	-o-transform: rotateX(90deg);
			transform: rotateX(90deg);

			    
		}

		.front-3 {
			background: yellow;
			z-index: 2;
		}

		.back-3 {

			background: url(./public/library/img/scene_1_front.png) no-repeat;
			background-size: cover;

			-webkit-transform: rotateX(180deg);
			-moz-transform: rotateX(180deg);
		  -o-transform: rotateX(180deg);
			transform: rotateX(180deg);
			
			transform-origin: bottom center;
			/*background: #f8f8f8;*/
		}
	</style>

    </head>
    <body>
		
		<!-- START Wrapper -->
		<div id="l-wrapper">

			<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
			  <div class="flipper">
			    <div class="front">
			      <span class="name">David Walsh</span>
			    </div>
			    <div class="back">
			     
			      <p>Mozilla Web Developer, MooTools & jQuery Consultant, MooTools Core Developer, Javascript Fanatic, CSS Tinkerer, PHP Hacker, and web lover.</p>

			    </div>
			  </div>
			</div>

			<div class="flip-container-2" ontouchstart="this.classList.toggle('hover');">
			  <div class="flipper-2">
			    <div class="front-2">
			      <span class="name-2">David Walsh</span>
			    </div>
			    <div class="back-2">
			     
			      <p>Mozilla Web Developer, MooTools & jQuery Consultant, MooTools Core Developer, Javascript Fanatic, CSS Tinkerer, PHP Hacker, and web lover.</p>

			    </div>
			  </div>
			</div>

			<div class="flip-container-3" ontouchstart="this.classList.toggle('hover');">
			  <div class="flipper-3">
			    
			    <div class="front-3">
			      
			    </div>
			    <div class="back-3">

			    </div>
			  </div>
			</div>

		</div>
		<!-- END Wrapper -->

    	<script src="./public/library/js/vendors.min.js"></script>
		<script src="./public/library/js/main.min.js"></script>

		<!-- classie.js by @desandro: https://github.com/desandro/classie -->
	    <script src="./public/library/js/vendors/classie.js"></script>
	    <script src="./public/library/js/vendors/modalEffects.js"></script>

	    <!-- for the blur effect -->
	    <!-- by @derSchepp https://github.com/Schepp/CSS-Filters-Polyfill -->
	    <script>
	        // this is important for IEs
	        var polyfilter_scriptpath = './public/library/js/vendors';
	    </script>

	    <script src="./public/library/js/vendors/cssParser.js"></script>
	    <script src="./public/library/js/vendors/css-filters-polyfill.js"></script>

	    <script src="./public/library/js/vendors/parallax.js"></script>

		<script>

			// // Pretty simple huh?
			// var scene_1 = document.getElementById('scene_1');
			// var parallax = new Parallax(scene_1);

			// var scene_2 = document.getElementById('scene_2');
			// var parallax = new Parallax(scene_2);


		</script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!-- <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script> -->

    </body>
</html>
