<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"> 
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Online jaarverslag - Layout</title>
	
	<link type="text/css" rel="stylesheet" href="./public/library/css/main.css" />

	<script type="text/javascript" src="./public/library/js/vendors/modernizr-custom.js"></script>
	<script type="text/javascript" src="./public/library/js/vendors/detectizr.min.js"></script>
	<script type="text/javascript" src="./public/library/js/vendors/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="./public/library/js/vendors/jquery.easing.1.3.js"></script>

	<!--[if lt IE 9]>
		{{ javascript_include("./public/library/js/vendor/html5shiv.js") }}
		{{ javascript_include("./public/library/js/vendor/respond.min.js") }}
	<![endif]-->

    </head>
    <body>
		
		<!-- START Wrapper -->
		<div id="l-wrapper">
			
			<div class="l-trigger-container">
			<div class="l-container">

				<!-- Logo -->
				<div class="o-logo">
					
				</div>

				<!-- Controls -->
				<a href="#" id="o-btn-prev" class="o-btn o-btn--circle xxl o-btn--orange">
					<i class="fa fa-angle-left"></i>
				</a>

				<a href="#" id="o-btn-next" class="o-btn o-btn--circle xxl o-btn--orange">
					<i class="fa fa-angle-right"></i>
				</a>
				
				<!-- Text modal -->
				<div id="modal_1" class="m-text-modal">
					
					<!-- Trigger -->
					<div class="o-trigger m-text-modal__trigger">
						<span class="o-trigger__inner">
						 <div class="o-trigger__dot"></div>
						</span>
					</div>
					
					<!-- Trigger -->
					<div class="m-text-modal__modal o-shape txt--white">
						<div class="m-text-modal__modal__inner">
							<div class="m-text-modal__modal__top">
								<a class="m-text-modal__close">
									<i class=" fa fa-close"></i>
								</a>
							</div>
							<p>
							1 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							</p>
						</div>
					</div>
				</div>

				<!-- Text modal -->
				<div id="modal_2" class="m-text-modal">
					
					<!-- Trigger -->
					<div class="o-trigger m-text-modal__trigger">
						<span class="o-trigger__inner">
						 <div class="o-trigger__dot"></div>
						</span>
					</div>
					
					<!-- Trigger -->
					<div class="m-text-modal__modal o-shape txt--white">
						<div class="m-text-modal__modal__inner">
							<div class="m-text-modal__modal__top">
								<a class="m-text-modal__close">
									<i class=" fa fa-close"></i>
								</a>
							</div>
							<p>
							2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							</p>
						</div>
					</div>
				</div>

				<!-- Text modal -->
				<div id="modal_3" class="m-text-modal">
					
					<!-- Trigger -->
					<div class="o-trigger m-text-modal__trigger">
						<span class="o-trigger__inner">
						 <div class="o-trigger__dot"></div>
						</span>
					</div>
					
					<!-- Trigger -->
					<div class="m-text-modal__modal o-shape txt--white">
						<div class="m-text-modal__modal__inner">
							<div class="m-text-modal__modal__top">
								<a class="m-text-modal__close">
									<i class=" fa fa-close"></i>
								</a>
							</div>
							<p>
							3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							</p>
						</div>
					</div>
				</div>

				<!-- Text modal -->
				<div id="modal_4" class="m-text-modal">
					
					<!-- Trigger -->
					<div class="o-trigger m-text-modal__trigger">
						<span class="o-trigger__inner">
						 <div class="o-trigger__dot"></div>
						</span>
					</div>
					
					<!-- Trigger -->
					<div class="m-text-modal__modal o-shape txt--white">
						<div class="m-text-modal__modal__inner">
							<div class="m-text-modal__modal__top">
								<a class="m-text-modal__close">
									<i class=" fa fa-close"></i>
								</a>
							</div>
							<p>
							4 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							</p>
						</div>
					</div>
				</div>


				<!-- Test -->
				<div class="test">

				</div> 

			</div>
			</div>

		</div>
		<!-- END Wrapper -->

		<!-- Bottom -->
		<div id="l-bottom">

		</div>

    	<script src="./public/library/js/vendors.min.js"></script>
		<script src="./public/library/js/main.min.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!-- <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script> -->

    </body>
</html>
