<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"> 
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Online jaarverslag - Scene 1</title>
	
	<link type="text/css" rel="stylesheet" href="./public/library/css/main.css" />

	<script type="text/javascript" src="./public/library/js/vendors/modernizr-custom.js"></script>
	<script type="text/javascript" src="./public/library/js/vendors/detectizr.min.js"></script>
	<script type="text/javascript" src="./public/library/js/vendors/jquery-3.1.1.min.js"></script>
	<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
	<script type="text/javascript" src="./public/library/js/vendors/jquery.easing.1.3.js"></script>
	

	<!--[if lt IE 9]>
		{{ javascript_include("./public/library/js/vendor/html5shiv.js") }}
		{{ javascript_include("./public/library/js/vendor/respond.min.js") }}
	<![endif]-->

    </head>
    <body>
		
		<!-- START Wrapper -->
		<div id="l-wrapper">
			
			<div id="l-background"></div>

			<!-- <div id="l-overlay-elements"> -->
				<!-- Logo -->
				<div class="o-logo">
					
				</div>

				<!-- Controls -->
				<a href="#" id="o-btn-prev" class="o-btn o-btn--circle xxl o-btn--orange">
					<i class="fa fa-angle-left"></i>
				</a>

				<a href="#" id="o-btn-next" class="o-btn o-btn--circle xxl o-btn--orange">
					<i class="fa fa-angle-right"></i>
				</a>
			<!-- </div> -->
			
			<div id="m-scenes">
				
				<!-- START SCENE 1 -->
				<div id="m-scene-1" class="m-scene m-scene--full" data-animation="slide-left" data-scene="1" data-timeline-pos="0%">
					
					<div class="m-scene__wrapper">
						<div id="scene_1" class="scene m-scene__inner" data-calibrate-y="true" data-scalar-y="3" data-scalar-x="6">
							
							<div class="m-scene__layer__triggers">
								<div class="m-scene__layer__inner">
									
									<div class="m-scene__triggers">

										<!-- Text modal -->
										<div id="modal_1" class="m-text-modal">
											
											<!-- Trigger -->
											<div class="o-trigger m-text-modal__trigger">
												<span class="o-trigger__inner">
												 <div class="o-trigger__dot"></div>
												</span>
											</div>
											
											<!-- Trigger -->
											<div class="m-text-modal__modal o-shape txt--white">
												<div class="m-text-modal__modal__inner">
													<div class="m-text-modal__modal__top">
														<a class="m-text-modal__close">
															<i class=" fa fa-close"></i>
														</a>
													</div>
													<p>
													1 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

													1 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
													</p>
												</div>
											</div>
										</div>

										<!-- Text modal -->
										<div id="modal_2" class="m-text-modal">
											
											<!-- Trigger -->
											<div class="o-trigger m-text-modal__trigger">
												<span class="o-trigger__inner">
												 <div class="o-trigger__dot"></div>
												</span>
											</div>
											
											<!-- Trigger -->
											<div class="m-text-modal__modal o-shape txt--white">
												<div class="m-text-modal__modal__inner">
													<div class="m-text-modal__modal__top">
														<a class="m-text-modal__close">
															<i class=" fa fa-close"></i>
														</a>
													</div>
													<p>
													2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
													</p>
												</div>
											</div>
										</div>

										<!-- Text modal -->
										<div id="modal_3" class="m-text-modal">
											
											<!-- Trigger -->
											<div class="o-trigger m-text-modal__trigger">
												<span class="o-trigger__inner">
												 <div class="o-trigger__dot"></div>
												</span>
											</div>
											
											<!-- Trigger -->
											<div class="m-text-modal__modal o-shape txt--white">
												<div class="m-text-modal__modal__inner">
													<div class="m-text-modal__modal__top">
														<a class="m-text-modal__close">
															<i class=" fa fa-close"></i>
														</a>
													</div>
													<p>
													3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
													</p>
												</div>
											</div>
										</div>

										<!-- Text modal -->
										<div id="modal_4" class="m-text-modal">
											
											<!-- Trigger -->
											<div class="o-trigger m-text-modal__trigger">
												<span class="o-trigger__inner">
												 <div class="o-trigger__dot"></div>
												</span>
											</div>
											
											<!-- Trigger -->
											<div class="m-text-modal__modal o-shape txt--white">
												<div class="m-text-modal__modal__inner">
													<div class="m-text-modal__modal__top">
														<a class="m-text-modal__close">
															<i class=" fa fa-close"></i>
														</a>
													</div>
													<p>
													4 Lorem ipsum dolor sit amet
													</p>
												</div>
											</div>

										</div>


									</div>

								</div>
							</div>




							<div class="m-scene__layer__bubbles">
								<div class="m-scene__layer__inner">


									<div class="m-bubbles m-bubbles--right" data-delay-start="1500" data-delay-end="1500" data-progress="true" data-loop="false">
					                    <div class="m-bubbles__container">
					                    	
											<div class="m-bubbles__visible">

											</div>

					                    	<div class="m-bubbles__hidden">

						                        <div class="m-bubbles__item m-bubbles__item--right o-shape o-shape--right" data-animation="fadein" data-title="true" data-duration="1000" data-delay-start="1000">
						                            <div class="m-bubbles__item__content">
						                                <h3>Kruisband</h3>
						                            </div>
						                            <div class="m-bubbles__item__progressbar"><div></div></div>
						                        </div>

						                        <div class="m-bubbles__item m-bubbles__item--left o-shape o-shape--left" data-animation="fadein" data-duration="3000" data-delay-start="500">
						                            <div class="m-bubbles__item__content">
						                                EERSTE Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						                            </div>
						                            <div class="m-bubbles__item__progressbar"><div></div></div>
						                        </div>

						                        <div class="m-bubbles__item m-bubbles__item--right o-shape o-shape--right" data-animation="fadein" data-duration="3000" data-delay-start="500">
						                            <div class="m-bubbles__item__content">
						                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						                                consectetur adipisicing elit.
						                            </div>
						                            <div class="m-bubbles__item__progressbar"><div></div></div>
						                        </div>

						                        <div class="m-bubbles__item m-bubbles__item--left o-shape o-shape--left" data-animation="fadein" data-duration="3000" data-delay-start="500">
						                            <div class="m-bubbles__item__content">
						                                EERSTE Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						                            </div>
						                            <div class="m-bubbles__item__progressbar"><div></div></div>
						                        </div>

						                        <div class="m-bubbles__item m-bubbles__item--right o-shape o-shape--right" data-animation="fadein" data-duration="3000" data-delay-start="500">
						                            <div class="m-bubbles__item__content">
						                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						                                consectetur adipisicing elit.
						                            </div>
						                            <div class="m-bubbles__item__progressbar"><div></div></div>
						                        </div>

						                        <!-- <div class="m-bubbles__item m-bubbles__item--left o-shape o-shape--left" data-animation="fadein">
						                            <div class="m-bubbles__item__content">
						                                EERSTE Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						                            </div>
						                            <div class="m-bubbles__item__progressbar"><div></div></div>
						                        </div>

						                        <div class="m-bubbles__item m-bubbles__item--right o-shape o-shape--right" data-animation="fadein">
						                            <div class="m-bubbles__item__content">
						                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						                                consectetur adipisicing elit.
						                            </div>
						                            <div class="m-bubbles__item__progressbar"><div></div></div>
						                        </div>

						                        <div class="m-bubbles__item m-bubbles__item--left o-shape o-shape--left" data-animation="fadein">
						                            <div class="m-bubbles__item__content">
						                                EERSTE Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						                            </div>
						                            <div class="m-bubbles__item__progressbar"><div></div></div>
						                        </div>

						                        <div class="m-bubbles__item m-bubbles__item--right o-shape o-shape--right" data-animation="fadein">
						                            <div class="m-bubbles__item__content">
						                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						                                consectetur adipisicing elit.
						                            </div>
						                            <div class="m-bubbles__item__progressbar"><div></div></div>
						                        </div> -->

					                        </div>
					                       
					                       
					                    </div>
					                </div>

								</div>
							</div>




							<div class="layer m-scene__layer m-scene__layer__3" data-depth="0.66" data-layer-animation="animate-flip">
								<div class="m-scene__layer m-scene__layer__inner">

									<div class="flip-container">
										<div class="flip-container__inner">
										
										</div>	
									</div>

								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__2" data-depth="0.33" data-layer-animation="animate-center">
								<div class="m-scene__layer m-scene__layer__inner">
									
									<div class="center-container">

										<div class="center-container__l"></div>
										<div class="center-container__r"></div>
									  
									</div>

								</div>
							</div>
							
							<div class="layer m-scene__layer m-scene__layer__1" data-depth="0.15" data-layer-animation="animate-slide">
								<div class="m-scene__layer m-scene__layer__inner">
									
									<div class="slide-container">
										<div class="cables">
											<div class="cable-left"></div>
											<div class="cable-right"></div>
										</div>
									</div>
									
								</div>
							</div>

						</div>
					</div>

				</div>
				<!-- END SCENE 1 -->

				<!-- START SCENE 2 -->
				<div id="m-scene-2" class="m-scene m-scene--full" data-animation="slide-left" data-scene="2" data-timeline-pos="25%">
					<div class="m-scene__wrapper">
						<div id="scene_2" class="scene m-scene__inner" data-calibrate-y="true" data-scalar-y="3" data-scalar-x="6">
							
							<div class="m-scene__layer__triggers">
								<div class="m-scene__layer__inner">
									
									<div class="m-scene__triggers">


										<!-- Text modal -->
										<div id="modal_21" class="m-text-modal">
											
											<!-- Trigger -->
											<div class="o-trigger m-text-modal__trigger">
												<span class="o-trigger__inner">
												 <div class="o-trigger__dot"></div>
												</span>
											</div>
											
											<!-- Trigger -->
											<div class="m-text-modal__modal o-shape txt--white">
												<div class="m-text-modal__modal__inner">
													<div class="m-text-modal__modal__top">
														<a class="m-text-modal__close">
															<i class=" fa fa-close"></i>
														</a>
													</div>
													<p>
													1 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
													</p>
												</div>
											</div>
										</div>

										<!-- Text modal -->
										<div id="modal_22" class="m-text-modal">
											
											<!-- Trigger -->
											<div class="o-trigger m-text-modal__trigger">
												<span class="o-trigger__inner">
												 <div class="o-trigger__dot"></div>
												</span>
											</div>
											
											<!-- Trigger -->
											<div class="m-text-modal__modal o-shape txt--white">
												<div class="m-text-modal__modal__inner">
													<div class="m-text-modal__modal__top">
														<a class="m-text-modal__close">
															<i class=" fa fa-close"></i>
														</a>
													</div>
													<p>
													2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
													</p>
												</div>
											</div>
										</div>

										<!-- Text modal -->
										<div id="modal_23" class="m-text-modal">
											
											<!-- Trigger -->
											<div class="o-trigger m-text-modal__trigger">
												<span class="o-trigger__inner">
												 <div class="o-trigger__dot"></div>
												</span>
											</div>
											
											<!-- Trigger -->
											<div class="m-text-modal__modal o-shape txt--white">
												<div class="m-text-modal__modal__inner">
													<div class="m-text-modal__modal__top">
														<a class="m-text-modal__close">
															<i class=" fa fa-close"></i>
														</a>
													</div>
													<p>
													3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
													</p>
												</div>
											</div>
										</div>

										<!-- Text modal -->
										<div id="modal_24" class="m-text-modal">
											
											<!-- Trigger -->
											<div class="o-trigger m-text-modal__trigger">
												<span class="o-trigger__inner">
												 <div class="o-trigger__dot"></div>
												</span>
											</div>
											
											<!-- Trigger -->
											<div class="m-text-modal__modal o-shape txt--white">
												<div class="m-text-modal__modal__inner">
													<div class="m-text-modal__modal__top">
														<a class="m-text-modal__close">
															<i class=" fa fa-close"></i>
														</a>
													</div>
													<p>
													4 Lorem ipsum dolor sit amet
													</p>
												</div>
											</div>

										</div>

							
									</div>

								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__4" data-depth="1.00" data-layer-animation="">
								<div class="m-scene__layer m-scene__layer__inner">
								
								</div>
							</div>
							
							<div class="layer m-scene__layer m-scene__layer__3" data-depth="0.66" data-layer-animation="animate-flip">
								<div class="m-scene__layer m-scene__layer__inner">

									<div class="flip-container">
										<div class="flip-container__inner">
										
										</div>	
									</div>

								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__2" data-depth="0.33" data-layer-animation="animate-center">
								<div class="m-scene__layer m-scene__layer__inner">
									
									<div class="center-container">

										<div class="center-container__l"></div>
										<div class="center-container__r"></div>
									  
									</div>

								</div>
							</div>

							<div class="layer m-scene__layer m-scene__layer__1" data-depth="0.15" data-layer-animation="animate-slide">
								<div class="m-scene__layer m-scene__layer__inner">
									
									<div class="slide-container">
										<div class="cables">
											<div class="cable-left"></div>
											<div class="cable-right"></div>
										</div>
									</div>
									
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- END SCENE 2 -->

				<!-- START SCENE 3 -->
				<div id="m-scene-3" class="m-scene m-scene--full" data-scene="3" data-timeline-pos="50%">
					<div class="m-scene__wrapper">
						<div class="m-scene__inner bg--blue-light">
						Scene 3
						</div>
					</div>
				</div>
				<!-- END SCENE 3 -->

				<!-- START SCENE 4 -->
				<div id="m-scene-4" class="m-scene m-scene--full" data-scene="4" data-timeline-pos="80%">
					<div class="m-scene__wrapper">
						<div class="m-scene__inner bg--orange">
						Scene 4
						</div>
					</div>
				</div>
				<!-- END SCENE 4 -->

			</div>


		<!-- Bottom -->
		<footer id="l-footer">

			<nav class="m-timeline">
				<div class="m-timeline__start">0</div>
				<div class="m-timeline__inner">
					<div class="m-timeline__line"></div>
					<div class="m-timeline__line m-timeline__line--active"></div>
					<div class="m-timeline__items">

						<a href="javascript:void(0)" class="md-trigger m-timeline__sub__item" data-modal="modal-1" style="left: 15%;"></a>
						<a href="javascript:void(0)" class="md-trigger m-timeline__sub__item" data-modal="modal-2" style="left: 40%;"></a>
						<a href="javascript:void(0)" class="md-trigger m-timeline__sub__item" data-modal="modal-3" style="left: 65%;"></a>

					</div>
				</div>
				<div class="m-timeline__end">99</div>
			</nav>
			
			
		</footer>
		
		<!-- START MODAL -->
			<div class="md-modal md-effect-11" id="modal-1">
		        <div class="md-content">
		            <a class="md-close"><i class="fa fa-close"></i></a>

		            <div class="md-content-inner">
		            	<h3>Geboortecentrum</h3>
		                <p>Cras eleifend dignissim quam ut dapibus. Nam euismod gravida nibh ut dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper vestibulum feugiat. Aliquam pellentesque ornare vulputate. Integer ut tincidunt ipsum. Cras condimentum sit amet felis ut ultrices.</p>

						<p>Sed commodo eleifend lectus ultricies aliquam. Suspendisse at ipsum ut lectus scelerisque ullamcorper eget id arcu. Nunc eget pretium magna. Fusce augue neque, mattis sit amet elit sit amet, blandit pharetra sapien. In pellentesque neque a sapien volutpat tempor. Sed viverra orci malesuada orci sodales euismod. Donec ex mi, imperdiet et nisi sit amet, imperdiet fringilla lacus. Curabitur a finibus felis, id venenatis felis.</p>
		            </div>
		            
		        </div>
		    </div>

		    <div class="md-modal md-effect-11" id="modal-2">
		        <div class="md-content">
		            <a class="md-close"><i class="fa fa-close"></i></a>

		            <div class="md-content-inner">
		            	<h3>Nog een andere titel</h3>
		                <p>Cras eleifend dignissim quam ut dapibus. Nam euismod gravida nibh ut dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper vestibulum feugiat. Aliquam pellentesque ornare vulputate. Integer ut tincidunt ipsum. Cras condimentum sit amet felis ut ultrices.</p>

						<p>Sed commodo eleifend lectus ultricies aliquam. Suspendisse at ipsum ut lectus scelerisque ullamcorper eget id arcu. Nunc eget pretium magna. Fusce augue neque, mattis sit amet elit sit amet, blandit pharetra sapien. In pellentesque neque a sapien volutpat tempor. Sed viverra orci malesuada orci sodales euismod. Donec ex mi, imperdiet et nisi sit amet, imperdiet fringilla lacus. Curabitur a finibus felis, id venenatis felis.</p>

						<p>Cras eleifend dignissim quam ut dapibus. Nam euismod gravida nibh ut dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper vestibulum feugiat. Aliquam pellentesque ornare vulputate. Integer ut tincidunt ipsum. Cras condimentum sit amet felis ut ultrices.</p>

						<p>Sed commodo eleifend lectus ultricies aliquam. Suspendisse at ipsum ut lectus scelerisque ullamcorper eget id arcu. Nunc eget pretium magna. Fusce augue neque, mattis sit amet elit sit amet, blandit pharetra sapien. In pellentesque neque a sapien volutpat tempor. Sed viverra orci malesuada orci sodales euismod. Donec ex mi, imperdiet et nisi sit amet, imperdiet fringilla lacus. Curabitur a finibus felis, id venenatis felis.</p>
		            </div>
		            
		        </div>
		    </div>

		    <div class="md-modal md-effect-11" id="modal-3">
		        <div class="md-content">
		            <a class="md-close"><i class="fa fa-close"></i></a>

		            <div class="md-content-inner">
		            	<h3>En een derde titel</h3>
		                <p>Cras eleifend dignissim quam ut dapibus. Nam euismod gravida nibh ut dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper vestibulum feugiat. Aliquam pellentesque ornare vulputate. Integer ut tincidunt ipsum. Cras condimentum sit amet felis ut ultrices.</p>

						<p>Sed commodo eleifend lectus ultricies aliquam. Suspendisse at ipsum ut lectus scelerisque ullamcorper eget id arcu. Nunc eget pretium magna. Fusce augue neque, mattis sit amet elit sit amet, blandit pharetra sapien. In pellentesque neque a sapien volutpat tempor. Sed viverra orci malesuada orci sodales euismod. Donec ex mi, imperdiet et nisi sit amet, imperdiet fringilla lacus. Curabitur a finibus felis, id venenatis felis.</p>

						<p>Cras eleifend dignissim quam ut dapibus. Nam euismod gravida nibh ut dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper vestibulum feugiat. Aliquam pellentesque ornare vulputate. Integer ut tincidunt ipsum. Cras condimentum sit amet felis ut ultrices.</p>

		            </div>
		            
		        </div>
		    </div>
			
			<div class="md-overlay"></div>

		    <!-- START MODAL -->

		</div>
		<!-- END Wrapper -->
		
		<script src="./public/library/js/vendors/parallax.js"></script>

		<script>

            var scene_1 = document.getElementById('scene_1');
  			var parallax_1 = new Parallax(scene_1);

  			var scene_2 = document.getElementById('scene_2');
  			var parallax_2 = new Parallax(scene_2);

  			//disableParallax();
				
			// parallax_1.disable();
  	// 		parallax_2.disable();
  			
  	// 		parallax_1.enable();
			// parallax_1.disable();
			//parallax_1.updateLayers();

  			function enableParallax() {
				console.log("enable parallax");

				// parallax_1.enable();
				// parallax_2.enable();
				//parallax_1.updateLayers();
			}

			function disableParallax() {
				console.log("disable parallax");

				// parallax_1.disable();
				// parallax_2.disable();

			}

  			

  			$(document).on( "enableParallax", function( event ) {
  				console.log("enableParallax");
  			});

  			$(document).on( "disableParallax", function( event ) {
  				console.log("disableParallax");
  			});

		</script>

    	<script src="./public/library/js/vendors.min.js"></script>
		<script src="./public/library/js/main.min.js"></script>


		<!-- classie.js by @desandro: https://github.com/desandro/classie -->
	    <script src="./public/library/js/vendors/classie.js"></script>
	    <script src="./public/library/js/vendors/modalEffects.js"></script>

	    <!-- for the blur effect -->
	    <!-- by @derSchepp https://github.com/Schepp/CSS-Filters-Polyfill -->
	    <script>
	        // this is important for IEs
	        var polyfilter_scriptpath = './public/library/js/vendors';
	    </script>

	    <script src="./public/library/js/vendors/cssParser.js"></script>
	    <script src="./public/library/js/vendors/css-filters-polyfill.js"></script>

	    

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!-- <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script> -->

    </body>
</html>
