@charset "UTF-8";

/* =============================================================================
MIXIN: BORDER RADIUS
USEAGE: @include border-radius(15px);
============================================================================= */

@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
}
