@charset "UTF-8";

/* =============================================================================
  BREAKPOINTS FOR MIN-WIDTH MEDIA QUERIES
  REFERENCE: https://zellwk.com/blog/media-query-units/
============================================================================= */
// xxs: 320px,
//  // xs: 375px,
//  xs: 480px,
//  // xs: 568px,
//  // xs: 640px,
//  sm: 768px,
//  ms: 800px,
//  md: 992px,
//  mlg: 1024px,
//  lg: 1200px,
//  xlg: 1440px,
//  2xlg: 1600px,
//  3xlg: 2000px


$breakpoints-min: (
  xxs: 20em,
  xs: 30em,
  xs-xs-sm: 35em,
  xs-sm: 40em,
  sm: 48em,
  ms: 50em,
  md: 61.9375em,
  mlg: 64em,
  lg: 75em,
  xlg: 90em,
  2xlg: 100em,
  3xlg: 125em
);


/* =============================================================================
  BREAKPOINTS FOR MAX-WIDTH MEDIA QUERIES
============================================================================= */

$breakpoints-max: (
  xxs: 19.9375em,
  xs: 29.9375em,
  sm: 47.9375em,
  ms: 49.9375em,
  md: 61.9375em,
  mlg: 63.9375em,
  lg: 74.9375em,
  xl: 89.9375em,
  2xl: 99.9375em,
  3xl: 124.9375em
);

/* =============================================================================
  MIXIN: RESPOND-TO-MIN
  USEAGE: @include respond-to-min(sm) { ... }
============================================================================= */

@mixin respond-to-min($breakpoint) {

  @if map-has-key($breakpoints-min, $breakpoint) {

    @media screen and (min-width: #{map-get($breakpoints-min, $breakpoint)}) {
      @content;
    }
  }

  @else {

    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
    + "Please make sure it is defined in `$breakpoints` map.";
  }
}


/* =============================================================================
  MIXIN: RESPOND-TO-MAX
  USEAGE: @include respond-to-max(small) { ... }
============================================================================= */

@mixin respond-to-max($breakpoint) {

  @if map-has-key($breakpoints-max, $breakpoint) {

    @media screen and (max-width: #{map-get($breakpoints-max, $breakpoint)}) {
      @content;
    }
  }

  @else {

    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
    + "Please make sure it is defined in `$breakpoints` map.";
  }
}