@charset "UTF-8";

/* =============================================================================
CONFIG
============================================================================= */

$module-name: 								'timeline';




/* =============================================================================
BASE
============================================================================= */

.m-#{$module-name} {
	width: 	100%;;
	height: 40px;
	position: absolute;
	bottom: 0;
	background: $gray4;
	padding: 0 50px;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    @include respond-to-min (sm) {
    	height: 60px;
		padding: 0 70px;
    }

	&__inner {
		position: absolute;
		height: 100%;
		bottom: 0;
		left: 65px;
		right: 65px;

		@include respond-to-min (sm) {
			left: 80px;
			right: 80px;
	    }
	}

	&__items {
		position: relative;
		z-index: 1;
		top: 50%;
		margin-top: -9px;

		@include respond-to-min (sm) {
			margin-top:-12px;
		}
	}

	&__item {
		position: absolute !important;
		top: 0;
		display: inline-block;
		width: 18px;
		height: 18px;
		@include border-radius(9px);
		//overflow: hidden;
		margin-left: -9px;
		text-decoration: none;
		background: $orange;
		opacity: 0;
		-webkit-transition: all 0.1s ease-in-out;
	    -moz-transition: all 0.1s ease-in-out;
	    -o-transition: all 0.1s ease-in-out;
	    transition: all 0.1s ease-in-out;
	    cursor: pointer;

	    &__dot {
	    	position: absolute;
		    top: 7px;
		    left: 7px;
		    width: 4px;
		    height: 4px;
		    @include border-radius(2px);
		    background: $white;
		    display: none;

		    @include respond-to-min (sm) {
		    	width: 6px;
		    	height: 6px;
		    	@include border-radius(3px);
				top: 9px;
		    	left: 9px;
		    }
	    }

		&:hover {
			background: darken($orange, 10%);
		}

		&.is--active {
			opacity: 1;

			.m-timeline__item__dot {
				display: block;
			}

		}

		&.m-timeline__item--final {
			background: $blue-dark;
		}
	
		@include respond-to-min (sm) {
			width: 24px;
			height: 24px;
			@include border-radius(12px);
			margin-left: -12px;
		}

	}

	&__line {
		position: absolute;
		top: 50%;
		left: 0;
    	width: 100%;
		background: $gray3;
		margin-top: -4px;
		height: 8px;
		@include border-radius(4px);
		overflow: hidden;
		z-index: 0;

		&--active {
			background: $orange;
			z-index: 1;
			width: 0%;
			-webkit-transition: all 1s ease-in-out;
		    -moz-transition: all 1s ease-in-out;
		    -o-transition: all 1s ease-in-out;
		    transition: all 1s ease-in-out;
		}

		@include respond-to-min (sm) {
			margin-top: -6px;
			height: 12px;
			@include border-radius(6px);
		}

	}

	&__start, &__end {
		position: absolute;
		bottom: 50%;
		margin-bottom: -16px;
		height: 32px;
		width: 32px;
		background: $gray3;
		color: $white;
		text-align: center;
		line-height: 32px;
		@include border-radius(6px);
		overflow: hidden;

		.number {
			@include rem(14);
			padding-right: 2px;
		}

		.text {
			@include rem(10);
		}

		@include respond-to-min (sm) { 
			margin-bottom: -20px;
			height: 40px;
			width: 40px;
			line-height: 40px;

			.number {
				@include rem(16);
			}

			.text {
				@include rem(12);
			}
		}
	}

	&__start {
		left: 15px;	
	}

	&__end {
		right: 15px;
	}

	&__sub__item {
		// width: 12px; 
		// height: 12px;
		// background: $white;
		// @include border-radius(6px);
		// overflow: hidden;
		position: absolute;
		top: -3px;
		// left: 10%;
		// opacity: 0;
		display: none;
		opacity: 0;
		width: 30px;
		height: 30px;
		margin-left: -15px;

		&__dot {
			margin: 9px;
			width: 12px; 
			height: 12px;
			background: $white;
			@include border-radius(6px);
			overflow: hidden;
			position: absolute;
			top: 0;
			left: 0
			
		}

		@include respond-to-min (sm) {
			display: block;
		}
	}

	&:hover, &.is--active {
		height: 80px;

		@include respond-to-min (sm) {
			height: 90px;
		}

		@include respond-to-min (md) {
			height: 100px;
		}

		@include respond-to-min (lg) {
			height: 120px;
		}

		.m-timeline__item {
			opacity: 1;
			-webkit-transition: all 0.3s ease-in-out;
		    -moz-transition: all 0.3s ease-in-out;
		    -o-transition: all 0.3s ease-in-out;
		    transition: all 0.3s ease-in-out;
		}

		.m-timeline__sub__item {
			opacity: 1;
			-webkit-transition: all 0.3s ease-in-out;
		    -moz-transition: all 0.3s ease-in-out;
		    -o-transition: all 0.3s ease-in-out;
		    transition: all 0.3s ease-in-out;
		}
	}

	&.is--final {

		.m-timeline__line--active {
			background: $blue-dark;
		}
	}
}