@charset "UTF-8";


/* =============================================================================
  CONFIG
============================================================================= */

$object-name: 					'btn';
$button-font-color: 		    $white;
$button-font-weight:            400;
$button-background--primary:    $orange;
$button-background--secondary:  $blue-dark;
$button-radius:                 20px;
$button-border-width:           1px;
$button-border-style:           solid;
$button-border-color:           transparent;


/* =============================================================================
  BASE
============================================================================= */

.o-#{$object-name} {
	position: relative;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    white-space: nowrap;
    // font-size: 16px;
    // font-size: 1rem;
    height: 40px;
    padding: 0 1.25em; // 8px 16px
    padding-right: 55px;
    border-width: 0;
    line-height: 40px;
    font-family: $font-family--primary-medium;
    @include transition (all, 200ms, ease);
    @include border-radius(0 10px 0 10px);

    &:active,
    &:focus {
        outline: 0;
    }

    &__square {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.20);
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        @include border-radius(0 10px 0 0);

        [class*='icon-'] {
            font-size: 16px !important;
            font-size: 1rem !important;
        }
    }

    &--circle {
        width: 30px;
        height: 30px;
        padding: 0;
        text-align: center;
        line-height: 30px;
        @include border-radius(50%);

        &.xxl {
            padding: 0;
            width: 30px;
            height: 30px;
            line-height: 30px !important;

            .fa {
                font-size: 24px;
                line-height: 30px;
                position: relative;
                top:-1px;

                &.fa-angle-left {
                    left: -1px;
                }

                &.fa-angle-right {
                    left: 1px;
                }
            }

            @include respond-to-min (sm) {
                width: 45px;
                height: 45px;
                line-height: 45px !important;

                .fa {
                    font-size: 32px;
                    line-height: 45px;
                    top: 0;
                }
            }

            @include respond-to-min (md) {
                width: 60px;
                height: 60px;
                line-height: 60px !important;

                .fa {
                    font-size: 40px;
                    line-height: 60px;
                }
            }
        }

        &.btn--show-more {
            background-color: $black;
            background-color: rgba(0,0,0,0.15);

            &:before {
                margin-left: 1px;
            }
            
            &:hover,
            &:focus {
                background-color: rgba(0,0,0,0.25);                
            }
        }

    }

    &__rectangle {
        width: 50px;
        height: 50px;
        text-align: center;
        padding: $padding-small 0;
        font-size: 24px;
        font-family: $font-family--primary-medium;
    }

    &.xl {
       height: 50px;
       padding-right: 65px;
       line-height: 50px;

       .btn__square {
           width: 50px;
           height: 50px;
           line-height: 50px;
       }
    }

    &.xxl {
        font-size: 24px;
        line-height:32px;
    }

    // Variants
    &.o-btn--white {
        @include button-variant($black, $white);
    }

    &.o-btn--blue-dark {
        @include button-variant($white, $blue-dark);
    }

    &.o-btn--blue-light {
        @include button-variant($gray4, $blue-light);
    }

    &.o-btn--purple {
        @include button-variant($white, $purple);
    }

    &.o-btn--aqua {
        @include button-variant($white, $aqua);
    }

    &.o-btn--orange {
        @include button-variant($white, $orange);
    }

    &.o-btn--red {
        @include button-variant($white, $red);
    }
}
