@charset "UTF-8";

/* General styles for the modal */

/* 
Styles for the html/body for special modal where we want 3d effects
Note that we need a container wrapping all content on the page for the 
perspective effects (not including the modals and the overlay).
*/
.md-perspective,
.md-perspective body {
	height: 100%;
	overflow: hidden;
}

.md-perspective body  {
	background: #222;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
}

.container {
	background: #e74c3c;
	min-height: 100%;
}

.md-close {
	position: absolute;
    top: 10px;
    right: 10px;
    background: #286b86;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    z-index: 9999;

    @include respond-to-min (sm) {
		top: 10px;
    	right: 20px;
    }

    i {
    	color: #FFF;
    	font-size: 24px;
    	line-height: 30px
    }
}



.md-modal {
	position: fixed;
	top: 5%;
	left: 5%;
	width: 90%;
	bottom: 0;
	max-width: 1000px;
	min-width: 280px;
	height: 90%;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;

	@include respond-to-min (sm) {
		top: 50%;
		left: 50%;
		width: 80%;
		min-height: 60%;
		height: auto;
		//min-height: 600px;
		-webkit-transform: translateX(-50%) translateY(-50%);
		-moz-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
	}

	@include respond-to-min (md) {
		width: 70%;
		min-height: 50%;
    }

	&--video {
		height: auto;

		.md-content {
			height: auto;
			background: none;
		}
	}
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(0,0,0,0.7);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

/* Content styles */
.md-content {
	color: $white;
	background: $blue-dark;
	position: relative;
	// border-radius: 3px;
	margin: 0 auto;
	height: 100%;

	iframe {
		width: 100%;
	}

	&__title {
		margin-bottom: 15px;
	}

	&__col-left {
		@include respond-to-min (sm) {
			float: left;
			width: 50%;
			padding-right: 15px;
			padding-left: 0;
		}

		a {
			word-break: break-all;
		}
	}

	&__col-right {
		@include respond-to-min (sm) {
			float: left;
			width: 50%;
			padding-left: 15px;
			padding-right: 0;
		}

		a {
			word-break: break-all;
		}
	}
}

.md-content-inner {
	height: 100%;
	overflow-y: auto;

	a {
		color: $white;
	}
}

.md-content h3 {
	margin: 0;
	// background: rgba(0,0,0,0.1);
}

.md-content > div {
	padding: 30px;
	margin: 0;
}

.md-content > div p {
	margin: 0;
	padding: 10px 0;
}

.md-content > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
}

.md-content > div ul li {
	padding: 5px 0;
}

.md-content button {
	display: block;
	margin: 0 auto;
}

/* Effect 11: Super scaled */
.md-effect-11 .md-content {
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	transform: scale(2);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-11 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}



@-webkit-keyframes OpenTop {
	50% { 
		-webkit-transform: rotateX(10deg); 
		-webkit-animation-timing-function: ease-out; 
	}
}

@-moz-keyframes OpenTop {
	50% { 
		-moz-transform: rotateX(10deg); 
		-moz-animation-timing-function: ease-out; 
	}
}

@keyframes OpenTop {
	50% { 
		transform: rotateX(10deg); 
		animation-timing-function: ease-out; 
	}
}