@charset "UTF-8";

// https://github.com/jareware/css-architecture/blob/master/README.md

/* =============================================================================
CONFIG
============================================================================= */



/* =============================================================================
BASE
============================================================================= */

:root {
	font-size:  62.5%;
}


/* =============================================================================
BOX SIZING
============================================================================= */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* =============================================================================
HTML & BODY
============================================================================= */

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

body {
	// font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	background-color: $white;
	line-height: 1.2;
	@include rem(16);
}

// Render fixes
// @see: http://www.intridea.com/blog/2014/5/8/better-font-smoothing-in-chrome-on-mac-os-x
@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and (min-device-pixel-ratio: 1.25),
only screen and (min-resolution: 200dpi),
only screen and (min-resolution: 1.25dppx) {

	html, body, button {
		-webkit-font-smoothing: subpixel-antialiased;
	}
}

/* =============================================================================
LINKS
============================================================================= */

a {
	// text-decoration: none;
	@include transition(color, 200ms, ease);

	&:hover {
	}

	&:visited {
	}
}


/* =============================================================================
TEXT STUFFS
============================================================================= */

b,
strong {
	font-weight: 700;
}

i,
em {
	font-style: italic;
}

/* =============================================================================
EMBEDDED CONTENT
============================================================================= */

img {
	max-width: 100%;
	height: auto;
	border: none;
	vertical-align: middle;
}
