@charset "UTF-8";

/* =============================================================================
  CONFIG
============================================================================= */

$font-family--primary:			MarkOT;
$font-family--primary-medium:	MarkOT-Medium;
$font-family--primary-bold:		MarkOT-Bold;

$marked-bg-color:				#fcf899;
$blockquote-border:				$gray9;
$blockquote-text-color:			$gray3;


/* =============================================================================
  BASE
============================================================================= */

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-family: $font-family--primary, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

p {
	line-height: 1.3;
	margin: 1em 0;
	@include rem(16);
}

b, strong {
	font-family: $font-family--primary-bold;
}

a {
	color: $link-color;
	text-decoration: underline;

	&:hover, &:focus, &:active {
		color: darken($link-color,10%);
	}
}

.h1,
h1, h1 p {
	font-family: $font-family--primary;
	font-weight: bold;
	line-height: 1.3;
	word-wrap: break-word;
	margin-top: 0;
	@include rem(28);

	@include respond-to-min (sm) {
		@include rem(34);
	}
	@include respond-to-min (md) {
		@include rem(40);
	}
	@include respond-to-min (lg) {
		@include rem(48);
	}
}

.h2,
h2, h2 p {
	font-family: $font-family--primary;
	font-weight: bold;
	line-height: 1.3;
	word-wrap: break-word;
	margin-top: 0;
	@include rem(24);

	@include respond-to-min (sm) {
		@include rem(28);
	}
	@include respond-to-min (md) {
		@include rem(32);
	}
	@include respond-to-min (lg) {
		@include rem(36);
	}
}

.h3,
h3, h3 p {
	font-family: $font-family--primary;
	font-weight: bold;
	line-height: 1.3;
	word-wrap: break-word;
	margin-top: 0;
	@include rem(21);

	@include respond-to-min (sm) {
		@include rem(24);
	}
	@include respond-to-min (md) {
		@include rem(26);
	}
	@include respond-to-min (lg) {
		@include rem(28);
	}
}

.h4,
h4 {
	font-family: $font-family--primary;
	font-weight: bold;
	line-height: 1.3;
	word-wrap: break-word;
	@include rem(21);
	margin-top: 0;
}

.h5,
h5 {
	font-family: $font-family--primary;
	font-weight: bold;
	line-height: 1.3;
	word-wrap: break-word;
	@include rem(16);
}

.h6,
h6 {
	font-family: $font-family--primary;
	font-weight: bold;
	line-height: 1.3;
	word-wrap: break-word;
	@include rem(12);
}

// Typography helper classes
.small,
small {
	font-family: $font-family--primary;
	line-height: 1.3;
	font-weight: 400;
}

.lead {
	font-weight: 300;
	line-height: 1.3;
	@include rem(21);
}

.mark,
mark {
	background-color: $marked-bg-color;
}

blockquote {
	margin: 0;
	padding: 0 $padding-medium;
	color: $blockquote-text-color;
	border-left: 4px solid $blockquote-border;
}

.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}