
@charset "UTF-8";

/* =============================================================================
CONFIG
============================================================================= */

$object-name:           'tooltip';

/* =============================================================================
BASE
============================================================================= */



.o-#{$object-name} {

  &[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
  }

  /* Hide the tooltip content by default */
  &[data-tooltip]:before,
  &[data-tooltip]:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  /* Position tooltip above the element */
  &[data-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -68px;
    padding: 7px;
    width: 136px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: $orange;
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
  }

  /* Triangle hack to make tooltip look like a speech bubble */
  &[data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid $orange;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
  }

  /* Show tooltip content on hover */
  &[data-tooltip]:hover:before,
  &[data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
  }
}