/* =============================================================================
  COLORS
============================================================================= */

$white: 		#fff;
$black: 		#000;
$gray1:         #111;
$gray2:         #222;
$gray3:         #333;
$gray4:         #444;
$gray5:         #555;
$gray6:         #666;
$gray7:         #777;
$gray8:         #888;
$gray9:         #999;

$grayC:         #ccc;
$grayD:         #ddd;
$grayE:         #eee;

$color-social-twitter     : #00aced;
$color-social-facebook    : #3b5998;
$color-social-googleplus  : #dd4b39;
$color-social-pinterest   : #cb2027;
$color-social-linkedin    : #007bb6;
$color-social-youtube     : #bb0000;
$color-social-vimeo       : #aad450;
$color-social-instagram   : #517fa4;
$color-social-flickr      : #ff0084;
$color-social-dribbble    : #ea4c89;
$color-social-whatsapp    : #4dc247;


/* =============================================================================
  CUSTOM COLORS
============================================================================= */

$purple:                    #8374C8;
$blue-light:                #81CBF2;
$aqua:                      #49B7BB;
$blue-dark:                 #286B86;
$blue-darker:               #194C60;
$orange:                    #F5A733;
$red:                       #E95053;

$link-color:                #2098d8;


/* =============================================================================
  BACKGROUNDS
============================================================================= */
.bg--white { background: $white; }
.bg--black { background: $black; }
.bg--gray1 { background: $gray1; }
.bg--gray2 { background: $gray2; }
.bg--gray3 { background: $gray3; }
.bg--gray4 { background: $gray4; }
.bg--gray5 { background: $gray5; }
.bg--gray6 { background: $gray6; }
.bg--gray7 { background: $gray7; }
.bg--gray8 { background: $gray8; }
.bg--gray9 { background: $gray9; }

.bg--grayC { background: $grayC; }
.bg--grayD { background: $grayD; }
.bg--grayE { background: $grayE; }

.bg--purple { background: $purple; }
.bg--blue-light { background: $blue-light; }
.bg--aqua { background: $aqua; }
.bg--blue-dark { background: $blue-dark; }
.bg--blue-darker { background: $blue-darker; }
.bg--orange { background: $orange; }
.bg--red { background: $red; }

/* =============================================================================
  TEXT
============================================================================= */
.txt--white { color: $white; }
.txt--black { color: $black; }
.txt--gray1 { color: $gray1; }
.txt--gray2 { color: $gray2; }
.txt--gray3 { color: $gray3; }
.txt--gray4 { color: $gray4; }
.txt--gray5 { color: $gray5; }
.txt--gray6 { color: $gray6; }
.txt--gray7 { color: $gray7; }
.txt--gray8 { color: $gray8; }
.txt--gray9 { color: $gray9; }

.txt--grayC { color: $grayC; }
.txt--grayD { color: $grayD; }
.txt--grayE { color: $grayE; }

.txt--purple { color: $purple; }
.txt--blue-light { color: $blue-light; }
.txt--aqua { color: $aqua; }
.txt--blue-dark { color: $blue-dark; }
.txt--blue-darker { color: $blue-darker; }
.txt--orange { color: $orange; }
.txt--red { color: $red; }
