
/* =============================================================================
  MARGINS
============================================================================= */

$margin-xsmall:    5px;
$margin-small:     10px;
$margin-medium:    15px;
$margin-large:     30px;
$margin-xlarge:    50px;
