/* =============================================================================
  PADDINGS
============================================================================= */

$padding-xsmall:    5px;
$padding-small:     10px;
$padding-medium:    15px;
$padding-large:     30px;
$padding-xlarge:    50px;
