@charset "UTF-8";

/* =============================================================================
CONFIG
============================================================================= */

$module-name: 								'bubbles';




/* =============================================================================
BASE
============================================================================= */

.m-#{$module-name} {
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: bottom;

    &--left {
        
        .m-bubbles__container {

            @include respond-to-min (xs) { 
                padding-right: 20%;
            }

            @include respond-to-min (sm) { 
                padding-right: 30%;
            }

            @include respond-to-min (md) { 
                padding-right: 40%;
            }

            @include respond-to-min (lg) { 
                padding-right: 50%;
            }
        }
    }

    &--right {
        
        .m-bubbles__container {

            @include respond-to-min (xs) { 
                padding-left: 20%;
            }

            @include respond-to-min (sm) { 
                padding-left: 30%;
            }

            @include respond-to-min (md) { 
                padding-left: 40%;
            }

            @include respond-to-min (lg) { 
                padding-left: 50%;
            }
        }

    }

    &--center {
        
        .m-bubbles__container {

            @include respond-to-min (xs) { 
                padding-left: 10%;
                padding-right: 10%;
            }

            @include respond-to-min (sm) { 
                padding-left: 15%;
                padding-right: 15%;
            }

            @include respond-to-min (md) { 
                padding-left: 20%;
                padding-right: 20%;
            }

            @include respond-to-min (lg) { 
                padding-left: 25%;
                padding-right: 25%;
            }
        }

    }

    &[data-progress="false"] {
        .m-#{$module-name}__item {

            &.is--active {

                &.m-#{$module-name}__item--left {
                    @include border-radius(0 15px 0 15px);
                }

                &.m-#{$module-name}__item--right {
                    @include border-radius(15px 0 15px 0);
                }
            }

            &__progressbar {
                display: none;
            }
        }
    }
    
    &[data-progress="true"] {
	    &.is--active {
	    	.m-#{$module-name}__item__progressbar {
                display: block;
            }
        }
	}      

    &__container {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 100vw;
        padding: 0 35px;
        margin: 0 auto;
        display: table;

         @include respond-to-min (sm) { 
            padding: 0 30px;
         }

        .m-bubbles__hidden {
            display: none;
            
            &.get__height {
	            position:relative;
	            display: block;
	            top: 5000px;
	            left:5000px;
            }
        }

        .m-bubbles__visible {
            position: relative;
            display: table-cell;
            vertical-align: bottom;
            
            &__animator {
	            position:absolute;
	            width:100%;
	            height:100%;
                height:1000px;
	            top:0;
            }
        }
    }

    &__item {
        min-width: 60%;
        max-width: 90%;
        padding: 0;
        color: $white;
        background: $blue-light;
        display: none;
        margin-bottom: $margin-medium;
        overflow: hidden;

        @include respond-to-min (xs) {
            max-width: 80%;
        }
    
        // BUBBLE CONTENT STYLING
        &__content {
            padding: 10px 15px;

            h3 {
                margin: 0;

                @include respond-to-max (xs) { 
                    @include rem(18);
                }
            }
        }

        // CONTENT TYPES
        &--fact {

            .m-#{$module-name}__item__content {
                display: table;

                .fact__number {
                    padding-right: $padding-medium;
                    vertical-align: middle;
                    display: table-cell;
                    @include rem(64);
                }

                .fact__description {
                    vertical-align: middle;
                    display: table-cell;
                    line-height: 1;
                    font-family: 'MarkOT';
                    @include rem(16);
                }
            }
        }

        &--names {
            width: 100%;

            h2 {
                font-size: 24px !important;
                line-height: 65px;

                @include respond-to-min (sm) { 
                    font-size: 32px !important;
                }

                @include respond-to-min (md) { 
                    font-size: 40px !important;
                }
            }
        }


        // TITLE
        &[data-title="true"] {
            min-width: auto;

            &.m-#{$module-name}__item--left {
                left: 0;
            }

            &.m-#{$module-name}__item--right {
                right: 0;
            }
			&.is--visible {
	            &.is--on-top {
	                z-index: 10;
	                //background-color: $white;
					//color:$black;
                    background-color: $blue-dark;
                    color: $white;
	                animation-name:animateColorToTitle;
	                animation-duration: 0.5s;
	            }
	        }
        }
        
        // PROGRESS BAR
        &__progressbar {
            width: 100%;
            height: 5px;
            clear: both;
            background-color: $blue-dark;

            div {
                height: 100%;
                width: 1%;
                background-color: $blue-light;
                box-sizing: border-box;
            }
        }

        // LEFT & RIGHT BUBBLES
        &--left {
            float: left;

            .m-#{$module-name}__item__content {
                float: right;
            }
        }

        &--right {
            float: right;
        }

        // ANIMATIONS
        .is--animating {
            display: block;
            opacity: 0;
        }

        &.is--active {
            display: block;
            opacity: 1;
            background: $blue-dark;

            // &.m-#{$module-name}__item--left {
            //     @include border-radius(0 15px 0 0);
            // }

            // &.m-#{$module-name}__item--right {
            //     @include border-radius(15px 0 0 0);
            // }
        }
        &:not(.is--active) {
	        .m-#{$module-name}__item {
	            &__progressbar {
	                display: none;
	            }
	        }
	    }

        &.is--visible {
            display: block;
            // position:absolute;
            // bottom:0;
            opacity: 1;
            animation-name: bubbleInUp;
            animation-duration: 0.5s;
            // animation-fill-mode: both;
            clear: both;
            
            &.fade-to-inactive {
	            animation-name: animateColorToInactive;
	            animation-duration: 0.5s;
            }

        }        
    }
    &[data-names="true"] {
		.m-bubbles__item__content {
			float: left;
		}
		.m-bubbles__item--names {
			height:117px;
			
			.names__animator {
				position: absolute;
			}
			.container--static {
				position: absolute;
			}
			h2 {
				font-size: 5rem;
				margin-bottom: 0;
                white-space: nowrap;
			}
		}
	}
}    


@keyframes bubbleInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0) scale3d(.8, .8, .8);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes animateColorToInactive {
  from {
    background-color: $blue-dark;
  }

  to {
    background-color: $blue-light;
  }
}
@keyframes animateColorToTitle {
  from {
    background-color: $blue-light;
    color:$white;
  }

  to {
    // background-color: $white;
    // color:$black;
    background-color: $blue-dark;
    color:$white;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}    