@charset "UTF-8";

/* =============================================================================
CONFIG
============================================================================= */

$module-name: 								'notification-onboarding';




/* =============================================================================
BASE
============================================================================= */

.m-#{$module-name} {
    position: absolute;
    z-index:9999;
    width:60%;

    
    @include respond-to-min (xs) { 
         width: 40%;
    }

    @include respond-to-min (sm) { 
         width: 25%;
        @include rem(32);
    }
    
    h3 {
	    position:relative;
		color:$blue-dark;
		margin-bottom: 0;
		padding-bottom: 0;
		animation-name: moveInRight;
		animation-duration: 0.8s;
        background: rgba(255,255,255,0.75);
        @include border-radius(10px);
        padding: 10px;
        @include rem(18);

         @include respond-to-min (xs) {
            @include rem(21);
         }

         @include respond-to-min (sm) {
            @include rem(24);
         }
    }
    
    &__intro {
	    top: 50px;
        right: 10%;

        @include respond-to-min (sm) { 
            top: 30%;
            right: 10%;
        }
    }

    &__timeline {
	    bottom: 80px;
		right: 10%;

        @include respond-to-min (sm) { 
            bottom: 15%;
            right: 10%;
        }
    }
    &__trigger {
	    
    }
    &__facebook {
	    
    }
    
    &.notification {
	    
    }
    
    .arrow {
	    position:relative;
		background-repeat: no-repeat;
		background-position: center center;
		width:100%;
		height:60px;    
        background-size: 30%;

        @include respond-to-min (sm) { 
            height:75px;   
            background-size: auto;
        }
    }
    
    &.arrow__left .arrow {
	    background-image:url("../img/arrow-left.png");
    }
    &.arrow__right .arrow {
	    background-image:url("../img/arrow-right.png");
		animation-name: rotateRight;
		animation-duration: 0.5s;
    }
    &.arrow__down .arrow {
	    background-image:url("../img/arrow-down.png");
	    animation-name: rotateRight;
		animation-duration: 0.5s;
		//background-position-x: -20px;
    }
}
@keyframes moveInRight {
  from {
	opacity: 0;
    left:-30px;
  }

  to {
    opacity: 1;
    left:0px;
  }
}
@keyframes rotateRight {
  from {
	opacity: 0;
	left:-15px;
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);
  }

  to {
	opacity: 1;
	left:0px;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
  }
}
@keyframes rotateDown {
  from {
	opacity: 0;
	-ms-transform: rotate(60deg); /* IE 9 */
    -webkit-transform: rotate(60deg); /* Chrome, Safari, Opera */
    transform: rotate(60deg);
  }

  to {
	opacity: 1;
	-ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
  }
}
