@charset "UTF-8";


/* =============================================================================
  CONFIG
============================================================================= */

$object-name: 					'btn-holder';

/* =============================================================================
  BASE
============================================================================= */

.o-#{$object-name} {
	position: relative;
    overflow: hidden;
    
    .o-btn {
        margin-right: 10px;
    }
}
