@charset "UTF-8";


/* =============================================================================
  CONFIG
============================================================================= */

$object-name: 					'logo';

/* =============================================================================
  BASE
============================================================================= */

.o-#{$object-name} {
	width: 50px;
	height: 50px;
    background: url(../img/zuyderland_logo.png) no-repeat;
    background-size: 50px 50px;
    position: absolute;
    top: 15px;
    left: 15px;

    @include respond-to-min (sm) {
		width: 60px;
		height: 60px;
	    background-size: 60px 60px;
    }

    @include respond-to-min (md) {
		width: 70px;
		height: 70px;
	    background-size: 70px 70px;
	    top: 30px;
    	left: 30px;
    }
}
