@font-face {
  font-family: 'MarkOT';
  src: url('../fonts/markOT/MarkOT.eot'); /* IE9 Compat Modes */
  src: url('../fonts/markOT/MarkOT.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/markOT/MarkOT.woff') format('woff'), /* Modern Browsers */
       url('../fonts/markOT/MarkOT.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/markOT/MarkOT.svg#d40f3ceffc36c541b6db25f991cf884e') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: 'MarkOT-Medium';
  src: url('../fonts/markOT/MarkOT-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/markOT/MarkOT-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/markOT/MarkOT-Medium.woff') format('woff'), /* Modern Browsers */
       url('../fonts/markOT/MarkOT-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/markOT/MarkOT-Medium.svg#d40f3ceffc36c541b6db25f991cf884e') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: 'MarkOT-Bold';
  src: url('../fonts/markOT/MarkOT-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/markOT/MarkOT-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/markOT/MarkOT-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/markOT/MarkOT-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/markOT/MarkOT-Bold.svg#d40f3ceffc36c541b6db25f991cf884e') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  normal;
}
