@charset "UTF-8";


/* =============================================================================
  CONFIG
============================================================================= */

$object-name: 					'shape';
$button-font-color: 		    $white;
$button-font-weight:            400;
$button-background--primary:    $orange;
$button-background--secondary:  $blue-dark;
$button-radius:                 20px;
$button-border-width:           1px;
$button-border-style:           solid;
$button-border-color:           transparent;


/* =============================================================================
  BASE
============================================================================= */

.o-#{$object-name} {
	@include border-radius(12px 0 12px 0);
    padding: 15px;
    background: $aqua;

    @include respond-to-min (sm) {
        @include border-radius(15px 0 15px 0);
        padding: 20px;
    }
    @include respond-to-min (md) {
        @include border-radius(15px 0 15px 0);
        padding: 25px;
    }
    @include respond-to-min (lg) {
        @include border-radius(20px 0 20px 0);
        padding: 30px;
    }
}
