/* =============================================================================
**
**  AMIMATIONS KEYFRAMES 
**
** ============================================================================= */

//.is--active {
    
    &[data-animation="fadein"] {
        animation-delay: 1s;
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
    }

    &[data-animation="slide-down"] {
        animation-delay: 1s;
        -webkit-animation: slideDown 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: slideDown 1s; /* Firefox < 16 */
        -ms-animation: slideDown 1s; /* Internet Explorer */
         -o-animation: slideDown 1s; /* Opera < 12.1 */
            animation: slideDown 1s;
    }

    &[data-animation="slide-up"] {
        animation-delay: 1s;
        -webkit-animation: slideUp 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: slideUp 1s; /* Firefox < 16 */
        -ms-animation: slideUp 1s; /* Internet Explorer */
         -o-animation: slideUp 1s; /* Opera < 12.1 */
            animation: slideUp 1s;
    }

    &[data-animation="slide-left"] {
        animation-delay: 1s;
        -webkit-animation: slideLeft 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: slideLeft 1s; /* Firefox < 16 */
        -ms-animation: slideLeft 1s; /* Internet Explorer */
         -o-animation: slideLeft 1s; /* Opera < 12.1 */
            animation: slideLeft 1s;
    }

    &[data-animation="slide-left-out"] {
        animation-delay: 1s;
        -webkit-animation: slideLeftOut 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: slideLeftOut 1s; /* Firefox < 16 */
        -ms-animation: slslideLeftOutideLeft 1s; /* Internet Explorer */
         -o-animation: slideLeftOut 1s; /* Opera < 12.1 */
            animation: slideLeftOut 1s;
    }

    &[data-animation="slide-right"] {
        animation-delay: 1s;
        -webkit-animation: slideRight 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: slideRight 1s; /* Firefox < 16 */
        -ms-animation: slideRight 1s; /* Internet Explorer */
         -o-animation: slideRight 1s; /* Opera < 12.1 */
            animation: slideRight 1s;
    }

    &[data-animation="slide-right-out"] {
        animation-delay: 1s;
        -webkit-animation: slideRightOut 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: slideRightOut 1s; /* Firefox < 16 */
        -ms-animation: slideRightOut 1s; /* Internet Explorer */
         -o-animation: slideRightOut 1s; /* Opera < 12.1 */
            animation: slideRightOut 1s;
    }
//}

/* =============================================================================
  FADEIN
============================================================================= */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* =============================================================================
  OBJECTS SLIDE DOWN
============================================================================= */

@keyframes slideDown {
    from { transform: translateY(-100%); }
    to   { transform: translateY(0%); }
}

/* Firefox < 16 */
@-moz-keyframes slideDown {
    from { transform: translateY(-100%); }
    to   { transform: translateY(0%); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes slideDown {
    from { transform: translateY(-100%); }
    to   { transform: translateY(0%); }
}

/* Internet Explorer */
@-ms-keyframes slideDown {
    from { transform: translateY(-100%); }
    to   { transform: translateY(0%); }
}

/* Opera < 12.1 */
@-o-keyframes slideDown {
    from { transform: translateY(-100%); }
    to   { transform: translateY(0%); }
}


/* =============================================================================
  OBJECTS SLIDE UP
============================================================================= */

@keyframes slideUp {
    from { transform: translateY(200%); }
    to   { transform: translateY(0%); }
}

/* Firefox < 16 */
@-moz-keyframes slideUp {
    from { transform: translateY(200%); }
    to   { transform: translateY(0%); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes slideUp {
    from { transform: translateY(200%); }
    to   { transform: translateY(0%); }
}

/* Internet Explorer */
@-ms-keyframes slideUp {
    from { transform: translateY(200%); }
    to   { transform: translateY(0%); }
}

/* Opera < 12.1 */
@-o-keyframes slideUp {
    from { transform: translateY(200%); }
    to   { transform: translateY(0%); }
}


/* =============================================================================
  OBJECTS SLIDE LEFT
============================================================================= */

@keyframes slideLeft {
    from { transform: translateX(-150%); }
    to   { transform: translateX(0%); }
}

/* Firefox < 16 */
@-moz-keyframes slideLeft {
    from { transform: translateX(-150%); }
    to   { transform: translateX(0%); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes slideLeft {
    from { transform: translateX(-150%); }
    to   { transform: translateX(0%); }
}

/* Internet Explorer */
@-ms-keyframes slideLeft {
    from { transform: translateX(-150%); }
    to   { transform: translateX(0%); }
}

/* Opera < 12.1 */
@-o-keyframes slideLeft {
    from { transform: translateX(-150%); }
    to   { transform: translateX(0%); }
}


/* =============================================================================
  OBJECTS SLIDE LEFT OUT
============================================================================= */

@keyframes slideLeftOut {
    from { transform: translateX(0%); }
    to   { transform: translateX(-150%); }
}

/* Firefox < 16 */
@-moz-keyframes slideLeftOut {
    from { transform: translateX(0%); }
    to   { transform: translateX(-150%); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes slideLeftOut {
    from { transform: translateX(0%); }
    to   { transform: translateX(-150%); }
}

/* Internet Explorer */
@-ms-keyframes slideLeft {
    from { transform: slideLeftOut(0%); }
    to   { transform: translateX(-150%); }
}

/* Opera < 12.1 */
@-o-keyframes slideLeft {
    from { transform: slideLeftOut(0%); }
    to   { transform: translateX(-100%); }
}


/* =============================================================================
  OBJECTS SLIDE RIGHT
============================================================================= */

@keyframes slideRight {
    from { transform: translateX(150%); }
    to   { transform: translateX(0%); }
}

/* Firefox < 16 */
@-moz-keyframes slideRight {
    from { transform: translateX(150%); }
    to   { transform: translateX(0%); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes slideRight {
    from { transform: translateX(150%); }
    to   { transform: translateX(0%); }
}

/* Internet Explorer */
@-ms-keyframes slideRight {
    from { transform: translateX(150%); }
    to   { transform: translateX(0%); }
}

/* Opera < 12.1 */
@-o-keyframes slideRight {
    from { transform: translateX(150%); }
    to   { transform: translateX(0%); }
}

/* =============================================================================
  OBJECTS SLIDE RIGHT OUT
============================================================================= */

@keyframes slideRightOut {
    from { transform: translateX(0%); }
    to   { transform: translateX(150%); }
}

/* Firefox < 16 */
@-moz-keyframes slideRightOut {
    from { transform: translateX(0%); }
    to   { transform: translateX(150%); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes slideRightOut {
    from { transform: translateX(0%); }
    to   { transform: translateX(150%); }
}

/* Internet Explorer */
@-ms-keyframes slideRightOut {
    from { transform: translateX(0%); }
    to   { transform: translateX(150%); }
}

/* Opera < 12.1 */
@-o-keyframes slideRightOut {
    from { transform: translateX(0%); }
    to   { transform: translateX(150%); }
}