@charset "UTF-8";


/* =============================================================================
  CONFIG
============================================================================= */

$module-name: 					'text-modal';



/* =============================================================================
  BASE
============================================================================= */

.m-#{$module-name} {
	position: relative;
	display: inline-block;
	width: 24px;
    height: 24px;

	@include respond-to-min (sm) {
		width: 30px;
		height: 30px;
	}

	// @include respond-to-min (lg) {
	// 	 width: 40px;
	// 	 height: 40px;
	// }

	&__trigger {
		pointer-events: auto;
	}

	&__modal {
		width: auto;
		display: none;
		position: fixed;
		top: 75px;
		left: 30px;	
		right: 30px;
		//bottom: 15px;
		z-index: 100;
		max-width: 80vw;
    	margin: 0px auto;
    	pointer-events: auto;
    	overflow-y: auto;

		@include respond-to-min (xs) {
			max-width: 400px;
		}

		@include respond-to-min (sm) {
			position: absolute;
			width: 300px;
			top: 0;
			left: 0;
			right: auto;
			bottom: auto;
			margin: 0;
			padding: 15px;
		}

		@include respond-to-min (md) {
			width: 350px;
		}
		@include respond-to-min (lg) {
			width: 400px;
		}
		
		&__top {
			text-align: right;
			padding-bottom: 5px;
			position: absolute;
			top: 15px;
			right: 15px;

			.fa {
				color: $white;
				@include rem(24); 
			}
		}

		&.open {	
			display: block;
		}
		
		&__inner {
			max-height: 100%;
			padding-right: 40px;

			@include respond-to-min (sm) {
				opacity: 0;
				max-height: auto;
			}

			p {
				margin-top: 0 !important;
			}

			p:last-child {
				margin-bottom: 0;
			}

			h2, h3, h4 {
				margin-bottom: 5px;
			}
		}
	}

	&__close {
		display: inline-block;
		cursor: pointer;
		margin-top: -5px;
	}

	&.left {

		&.bottom {
			.o-shape {

			    @include respond-to-min (sm) {
			        @include border-radius(0 15px 0 15px);
			    }
			    @include respond-to-min (md) {
			        @include border-radius(0 15px 0 15px);
			    }
			    // @include respond-to-min (lg) {
			    //     @include border-radius(0 20px 0 20px);
			    // }
			}
			.m-text-modal__modal {

				@include respond-to-min (sm) {
					top: auto;
					bottom: 0;
					left: 0;
				}
			}
		}
	}

	&.right {

		&.top {
			.o-shape {

			    @include respond-to-min (sm) {
			        @include border-radius(0 15px 0 15px);
			    }
			    @include respond-to-min (md) {
			        @include border-radius(0 15px 0 15px);
			    }
			    // @include respond-to-min (lg) {
			    //     @include border-radius(0 20px 0 20px);
			    // }
			}

			.m-text-modal__modal {
				@include respond-to-min (sm) {
					top: 0;
					left: auto;
					right: 0;
				}
			}
		}
	}

	&.right {

		&.bottom {

			.m-text-modal__modal {
				@include respond-to-min (sm) {
					top: auto;
					bottom: 0;
					left: auto;
					right: 0;
				}
			}
		}
	}
}
